[2015-11-26 21:46] schriftgestalt opened #2 "parse module"
I tried to get this to run but could not find anything about `from parser import Parser` (glyphslib.py:26).

[2015-11-26 21:54] behdad commented on #2
Humm. you mean you don't have parser.py?

[2015-11-26 21:55] behdad opened #3 "move glyphslib.py contents to __init__.py"
Leaving **init**.py empty is a waste of namespace.  glyphslib was supposed to be the name of this module, but that was changed to glyphs2ufo somehow.  No need ot have glyphslib in there (and should have been glyphsLib anyway).

[2015-11-26 21:56] anthrotype commented on #2
Maybe he's on python3 and the relative imports don't work unless explicitly defined with a dot?

[2015-11-26 21:57] schriftgestalt commented on #2
I have, but I get an error. Maybe because there is a build in module with the same name? Or I installed it wrong. Silly of me not to see this.

[2015-11-26 21:57] behdad commented on #2
Ah, makes more sense.

[2015-11-26 21:59] behdad commented on #2
How are you running it?

[2015-11-26 21:59] schriftgestalt commented on #2
I’m on python 2.7. I renamed the parser.py file and now it works.

[2015-11-26 22:02] behdad commented on #2
Right.  I'll change the relative imports.

[2015-11-26 22:04] behdad opened #4 "Doesn't work with python3"
I also suggest that we copy these lines from fonttools into all python code we develop, to make the python2/3 compat easier:

[code]

[2015-11-26 22:06] behdad commented on #2
Assigning to James to fix when he has time.
Also: https://github.com/googlei18n/glyphs2ufo/issues/4

[2015-11-26 22:12] schriftgestalt opened #5 "missing/wrong info"
I added some to the item that where mentioned in the Nodes section to be missing from the .ufo that is written from Glyphs.
- I had implemented the storing of 'component has automatic alignment disabled' but was not sure about it. This time I found a way to prevent wrong assignment of the flag if the components where changed in another app.
- Guide.locked is stored and read correctly.
- I’m not su

[2015-11-26 22:20] behdad commented on #5
+1!

Georg: I was hoping that long-term we can hand this module to you.  Would you be interested in that?

[2015-11-26 22:24] schriftgestalt commented on #5
I was surprised to find something like this by accident. I’m find with managing it.

[2015-11-26 22:26] behdad commented on #5
Huh.  I thought we announce it.  But you are right, we never did!  I'm sending a note to https://groups.google.com/forum/#!forum/fonttools now.  It took months to get all the release approvals for it, so by the time we got it out we were just happy that it happened.

[2015-11-26 22:27] behdad commented on #5
Great.  Added you as collaborator.  @jamesgk wrote most of this.  Happy to let the two of you maintain it!

[2015-11-26 22:50] schriftgestalt commented on #5
When I’m at it. I have a few questions:
- There is some "redundant" data in the font font:
  - `openTypeNamePreferredFamilyName`: Do we need this if it is the same as the `familyName`? (same for `styleMapFamilyName`)
  - `openTypeNameUniqueID`: Shouldn’t it be set only if different from `version;PostScritName`. And halfway decent export script should be able to set then from the default.

[2015-11-26 23:17] schriftgestalt opened #6 "Blue zones"
As far as I understand the blue zones are not handled correctly. All 'negative' zones (except the one at the baseline) need to go to the other zones, not only the ones that are below the baseline.

[2015-11-27 18:14] twardoch commented on #5
This is an interesting question. In the SFNT name table, the Typographic Family Name (TFN, in the past called Preferred Family Name) field is supposed to be empty if the regular Family Name (in FontLab called Styling Group Name, SGN) is the same.

But that's a specific "compression" aspect of SFNT. In UFO, TFN and SGN are likely to be edited independently. UFO os, after all, not necessarily an abs

[2015-11-27 18:27] twardoch commented on #5
In other words: SFNT's main purpose is for efficient READING. SFNT does not need to be elegant for authoring purposes (though it wouldn't harm), which is why, despite some reservations, we put up with stuff like the CFF table. In a way, SFNT is a read-only format.

But UFO's main purpose is authoring. There, we need to consider redundancies of storage vs. redundancies of operations. The TFN should

[2015-11-27 19:31] schriftgestalt commented on #5
But then you can add both fields. In all other cases it is more work to always have to change the same data several times. If someone puts thinks it is a good idea to duplicate the names, fine. But the tools should not to that on their own by default.

[2015-11-27 19:35] behdad commented on #5
I agree with Georg that duplication is undesirable from a maintenance point of view :).

[2015-12-01 01:18] jamesgk commented on #2
This should be fixed by 5fa3543710724f1a28d40517b69276a50db98886

[2015-12-01 01:18] #2 closed

[2015-12-01 01:19] jamesgk commented on #4
Done in dfb49408250c1d226431ee3e5c900b34b33f8cc0

[2015-12-01 01:19] #4 closed

[2015-12-03 22:22] jamesgk commented on #3
So, just move glyphslib.py to __init__.py? We can also rename the library to glyphslib. My understanding though was that that would have been the name for a two-way conversion library, but this is really just meant to be Glyphs -> UFO.

[2015-12-04 00:55] jamesgk commented on #5
Hi @schriftgestalt!

Sounds like the conclusion here is, no we don't need them?

That's fair. I guess my thinking generally (also applies to family name stuff) was that this library should generate UFOs with as much info filled out as possible (a "fully functional" UFO rather than a UFO as an intermediate format). But filling out as little as possible is arguably a better approach (UFOs largely fu

[2015-12-04 01:04] jamesgk commented on #5
Also, I'm thinking glyphs2ufo should output glyph group names according to the ufo3 spec, following the discussion at https://github.com/behdad/fonttools/commit/37a79a330c83a5fbc793aec94028b525f2f30fb2#commitcomment-14101931.

So basically a name like "@MMK_L_A" would be changed to "public.kern1.A". Is this something you'd be interested in doing in Glyphs itself? I'm not completely sure how glyph

[2015-12-04 01:05] schriftgestalt commented on #5
In Glyphs I still use the "@MMK_L_A" syntax. I though about switching to "public.kern1.A".

[2015-12-04 01:15] schriftgestalt commented on #5
The problem is to decide what weight/width the master represents. The weight/width class setting is only available in the instances.

[2015-12-04 01:42] jamesgk commented on #5
Ah, right. Well ignoring the weight/width properties of masters, I can only see the option of calculating master weight/width as fractional values mapped from the range of instance weight/widths, then naming them after either the instance or OpenType spec weight/width class they're closest to, e.g. 0.1 for Thin, 0.3 for Light.... But this seems tricky (have to avoid two masters sharing the same na

[2015-12-04 02:25] schriftgestalt commented on #5
You are right.

[2015-12-04 05:58] behdad commented on #3
That's what I was thinking.

I don't have any strong opinion.  Anyone does?

[2015-12-04 06:18] twardoch commented on #3
I'd say, rename the whole package to "glyphsLib" (akin to ufoLib) or "glyphslib" (all lowercase) now, still before it had enjoyed wide proliferation. While it currently only offers .glyphs -> .ufo conversion functionality, it may likely grow in future, and perhaps someone incorporates the reverse functionality. By then, the name "glyphs2ufo" would be too limiting, and changing it more tedious, if

[2015-12-04 06:24] twardoch commented on #3
Alternatively, rename the package to glyphsTools, the main lib inside to glyphsLib, and the commandline tool to glyphs2ufo. That would broadly mimic the fontTools/ttLib/ttx structure. In future, other tools such as ufo2glyphs or glyphs2gx or glyphssubset or whatever else could be added there.

[2016-01-12 14:52] graphicore opened #8 "Which combination of dependency versions is supposed to work?"
I was just trying out the `glyphs2ufo` command and got the following error:

[code]

This comes from the `ufo3k` branch of robofab. In a rather recent issue about this error: https://github.com/robofab-developers/robofab/issues/53 @typesupply states:

I was using `ufo3k` because https://github.com/LettError/MutatorMath/blob/master/README.md claims its dependencies as:

| -------- | ---------------

[2016-01-13 00:35] jamesgk commented on #8
Based on Tal's comments it would seem that those MutatorMath readme notes are invalid. Personally, I've been using the master branch of RoboFab (and everything else) and that works fine.

[2016-01-13 01:11] typesupply commented on #8
In the ufo3k branch, /ufoLib moved away from /robofab into its own package. I'm about 100% certain that the MutatorMath note is referencing the ufoLib package, not the robofab package. Anyway, the UFO 3 branch is an official example implementation of the UFO spec:

https://github.com/unified-font-object/ufoLib

[2016-01-13 13:45] graphicore commented on #8
@typesupply indeed I had not installed the ufoLib since it became stand alone, however, it did not solve the problem.

Having installed the master branches of all dependencies I can now successfully export the Glyphs-masters. Exporting instances is failing though:

[code]
However, that's rather another issue.

[2016-01-21 02:13] jamesgk commented on #3
Sorry for holding this off. Is it too late to change the library name? Do we want glyphs2ufo to be a package within glyphsLib? I personally think glyphsTools at the top level is overkill, though.

[2016-01-21 02:18] behdad commented on #3
I don't have a strong opinion about this.

[2016-01-21 08:46] schriftgestalt commented on #3
To call the module 'glyphslib' will give it more room to house others things.
The the 'glyphs2ufo' could be on of several output components, like 'glyphslib.writers.ufo'. There should be a 'writer.glyphs'. This would allow the use of the library to manipulate .glyphs files from scripts outside of Glyphs similar to robofab.

[2016-01-21 14:24] davelab6 commented on #3
I'm in favor of a writer.glyphs for  TruFont :)

I dont think it's too late to change it
On Jan 21, 2016 3:46 AM, "Georg" <notifications@github.com> wrote:

[2016-01-21 18:20] jamesgk commented on #3
OK, so we can have a structure like

[code]

or

[code]

Any strong preferences?

[2016-01-21 21:08] davelab6 commented on #3
In the first case, would a ufo2ufo then be possible, which could be useful
as another normalizer?

[2016-01-21 21:08] davelab6 commented on #3
(And similarly a glyphs2glyphs normaliser)

[2016-01-21 22:08] jamesgk commented on #3
Well sure, either way it should be possible to round trip from glyphs source / ufo -> glyphs data -> glyphs source / ufo, provided we filled in the todos.

[2016-01-21 23:16] schriftgestalt commented on #3
The first option seems clearer to me. Because then there can be something in the middle that does something with the data. Or someone else adds another loader or writer?

[2016-01-21 23:26] davelab6 commented on #3
Right, like XFO

[2016-01-21 23:51] schriftgestalt commented on #3
Then we need to define a intermediate data format. ;)

[2016-01-28 06:40] hatchzo opened #10 "Glyphs are sorted"
I think glyphs are sorted after glyphs2ufo conversion. I don't want to break the original glyph order Glyphs app file has.

[2016-02-04 02:27] jamesgk commented on #10
I think what should be happening is that the original Glyphs order is used, and then if any glyphs are not included in that ordering they are appended to the UFO ordering, sorted by name. Is that OK?

See here:
https://github.com/googlei18n/glyphs2ufo/blob/a4809a43cdf01a76deadc7118b897ee9022fef8c/Lib/glyphs2ufo/torf.py#L109

[2016-02-04 06:40] hatchzo commented on #10
OK... You mean, UFO file doesn't support an original glyph order data except ordering by name or unicode. Is that right?

[2016-02-04 09:26] schriftgestalt commented on #10
Usually there is no explicit ordering list in a .glyphs file. The glyph order is defined by the order of the glyphs in the file. You can ignore the 'glyphOrder' parameter. It is used to sort the glyphs so it is redundant.

[2016-02-04 10:50] schriftgestalt commented on #10
I have fixed it.

[2016-02-04 11:57] schriftgestalt opened #11 "glif file names"
In Glyphs I use the [glif name scheme from the ufo3 spec](http://unifiedfontobject.org/versions/ufo3/conventions.html#usernametofilename) as it makes much more sense.

[2016-02-04 12:04] schriftgestalt commented on #5
There is one issue with this. For one master/one instance files, it would make sense to use the weight settings from the instance as it has more options.

[2016-02-04 18:31] schriftgestalt opened #12 "production names"
Glyphs can store production names in the .glyphs file now. This is mainly useful i you need to work with different clients and different name requirements.

This should be supported by glyphs2ufo. The biggest problem its that the feature code needs to be converted. I have some code in Glyphs that I could port over to python but maybe there is something already there.

[2016-02-05 00:06] jamesgk commented on #5
I don't understand. What do you mean by "more options"?

[2016-02-05 01:47] hatchzo commented on #10
Georg,
Do you suggest 'glyphOrder' parameter in .glyphs will be discontinue ?

[2016-02-05 07:10] schriftgestalt commented on #10
No, but you don't need it to extract the order of the glyphs from the file.

[2016-02-05 07:47] schriftgestalt commented on #5
This is about exporting the masters of a file not instances.
In Glyphs, masters and instances have there own weigh and width settings - for totally different purposes. In the masters it is only about icons in the toolbar. The style name of the instances is what goes in the font. So in a one master one instance setting, it is pretty clear. But if you have more masters and/or instances it is not as

[2016-02-10 18:10] jamesgk commented on #8
The last issue should be fixed as of ddebad2605c7fb2ef1cb9f9d0c1aeccbd799784b. Can we close this?

[2016-02-21 16:19] schriftgestalt opened #15 "parse into object tree instead of dict"
What if we could pares into an object tree instead of a dict. That would allow easier modification of the data, to be able to use it like roboFab but with native Glyphs objects. With full access to instance and all layers.

I’m not so familiar with best practices in Python so I could use a hint on how to implement it. How to tell the parser what class it should use for what piece of the file?

[2016-02-23 01:57] jamesgk commented on #11
Yea, for glyphs2ufo we're tied to whatever UFO library we use; I don't think robofab allows for this.

[2016-02-23 02:07] jamesgk commented on #15
I'm not sure if this can be done as simply as the parsing code we have now. Though maybe someone else would have some ideas. Defining and building native Glyphs objects seems like a big task to me, which is why I've been fine with using native python types.

[2016-02-23 02:23] behdad commented on #15
It wouldn't bee too hard to add this to casting.py.  We'd just need to instantiate the class then set `__dict__` on the object instance directly.  I'm not sure what we gain from this though.  Perhaps we can implement this when we support writing to Glyphs file.

[2016-02-23 07:02] schriftgestalt commented on #15
It wouldn't be useful for the current use case but will expand it quite a bit.

I'll have a look at the casting.py.

[2016-02-23 10:57] moyogo commented on #11
RFont can have `lib["org.robofab.glyphNameToFileNameFuncName"]`.

[2016-02-23 11:13] schriftgestalt commented on #15
I’m just playing around with the code. Shouldn’t the module called `glyphslib` with a submodule `glyphs2ufo`?

[2016-02-23 13:48] schriftgestalt commented on #15
Is there a clear policy to use tabs or spaces for indentation? The files use both, I prefer tabs.

[2016-02-23 13:59] schriftgestalt commented on #15
I have put something together in the `ClassTree` branch. It uses the parser but user the proper classes instead of a dict. This is done by storing the class in `self.dict_type`. Each class has a key2class dict that is used to update the dict type. This should make the extra `cast_data()` unnecessary. All special cases can be dealt with in the setter of the containing classes.

[2016-02-23 14:01] davelab6 commented on #15
On 23 February 2016 at 08:48, Georg <notifications@github.com> wrote:

https://google.github.io/styleguide/pyguide.html ?

[2016-02-24 08:19] behdad commented on #15
We don't have to follow this.

I personally prefer tabs, but looks like some people have gravitated towards spaces.

[2016-02-24 08:28] behdad commented on #15
Well, you essentially reimplemented the casting.  The nice thing about casting.py was that it was coming straight from your documentation: https://github.com/schriftgestalt/GlyphsSDK/blob/master/GlyphsFileFormat.md

so if you like to change that to refer to classes, we can switch to that.

Also, does this make glyphs2ufo API close to what your internal Python API is?  Should we aim for that?

[2016-02-24 09:54] schriftgestalt commented on #15
The current implementation first converts everything into dicts to convert it again into something else. IMHO this is waist of performance/memory. If we one tries to open a MM CJK font with several masters you should see a difference.

Short term the difference is that my approach has the advantages/disadvantages of object oriented programming.

The .glyphs files follow the internal objectiveC API

[2016-02-24 10:11] twardoch commented on #15
It would of course be wonderful if the glyphsLib object-oriented API was at least largely similar to https://docu.glyphsapp.com/ even if it only implemented a subset of the functionality of the full Glyphs API. Kind of like the difference between the  "FontLab" and "NoneLab" worlds in RoboFab where the latter only implemented a subset of the functionality.

[2016-02-24 10:12] schriftgestalt commented on #15
This is the plan ;)

[2016-02-29 23:43] #8 closed

[2016-02-29 23:43] #10 closed

[2016-03-23 00:58] twardoch commented on #12
@schriftgestalt has just published a subset of GlyphData.xml (just the basic stuff i.e. Unicode-to-Glyphs-glyphname mapping and some categorization, without the additional metadata) under the MIT license:
https://github.com/schriftgestalt/GlyphsInfo

This can be used as an auxiliary source for converting the internal Glyphs glyphnames into production glyphnames.

[2016-03-23 03:00] hatchzo commented on #10
I apologize to rehash this issue, Probably, I might not catch this discussion exactly. Has it be already fixed ?
I made an original glyph order on .glyphs file and then converted to .ufo file. However, my order was ignored, glyphs were sorted by Alphabet or Unicode when the.ufo is opened on the app.

[2016-03-23 18:17] jamesgk commented on #10
Right. According to @schriftgestalt the glyph order in the output UFO should be the order the glyphs appear in the .glyphs file; the glyphOrder element is not used.

[2016-03-23 19:44] schriftgestalt commented on #10
Just to clarify: The glyphOrder is used internally to sort the glyphs. So the glyphOrder parameter should always be in sync (with two exceptions: if the glyphOrder contains names that are not in the font or if there are more glyphs in the font than entries in the list). So always use the order as found in the `Font.glyphs` array.

[2016-03-25 07:43] hatchzo commented on #10
Thank you for your comments. I believe there is a chance of improvement.

[2016-03-27 00:04] behdad opened #21 "weightValue and widthValue should be num, NOT int"
IMO these are continuous numbers, so should NOT be integers.  @schriftgestalt can you please confirm?

[2016-03-27 01:54] behdad opened #22 "Export piece of code that writes .designspace file"
For building variation fonts, I don't want to interpolate instances, but want the .designspace file.  The code at the beginning of glyphs2ufo.interpolate.interpolate() is short, but non-trivial.  Please move to a separate function.  Thanks.

[2016-03-27 09:43] schriftgestalt commented on #21
Do you mean the master coordinates? They are floats internally.

[2016-03-27 19:47] #21 closed

[2016-03-27 20:08] behdad opened #23 "Does each glyph get its own group if the kerning group is unspecified?"
In a delivery we have received from Monotype, the glyphs source has kerning for a lot of groups, eg @MMK_R_ddhe-ethiopic, but no glyphs has "ddhe-ethiopic" as its rightKerningGroup.  In particular, the "ddhe-ethiopic" has no kerning groups defined for it.  Does that put the glyph in its own kerning class by default if no kerning class is specified?  That would explain a lot of warning we are seein

[2016-03-27 21:02] schriftgestalt commented on #23
If a glyph without classes is kerned with a class, it is put in class on its own. Otherwise I would need to decompose the class. In my experience that leads to a bigger GPOS tables and thus will cause subtable overflows
earlier.
What warnings do you get?

[2016-03-27 21:22] behdad commented on #23
Thanks.  I'm not talking about what goes into the output font; rather, what's the semantics of the .glyphs source file.

Eg. I'm getting, from glyphs2ufo:
[code]
Indeed, no glyph in the source has leftKerningGroup = ddhe-ethiopic, nor any rightKerningGroup = ddhe-ethiopic, yet both `"@MMK_L_ddhe-ethiopic"` and `"@MMK_R_ddhe-ethiopic"` appear in the kerning data.

So, my question is, if a glyph X d

[2016-03-27 21:26] schriftgestalt commented on #23
That might happen if the glyphs had a class before and then the kerning would be attached to the class. It is not attached to a specific glyph, it just lives as an entry in the kerning list. If you remove the glyph or remove/change its group entries, the kerning values are left in the kerning list but should be ignored. It should be remove if you run a "Cleanup" from the Kerning Panel.

[2016-03-27 21:29] behdad opened #24 "Relax duplicate-kerning checks"
Now that https://github.com/unified-font-object/ufoLib/pull/21 is merged, we should update our checks as well.

Ideally, we should call defcon validator and only "resolve" the pairs that defcon is going to barf on.

Alternatively, hopefully https://github.com/typesupply/defcon/issues/38 will be fixed.

[2016-03-27 21:30] behdad commented on #23
Ok, thanks.  So it *is* a source error.  Nothing need to change in
glyphs2ufo.

On Sun, Mar 27, 2016 at 2:26 PM, Georg Seifert <notifications@github.com>
wrote:

--
behdad
http://behdad.org/

[2016-03-27 21:33] #23 closed

[2016-03-30 08:05] schriftgestalt opened #25 "Linebreaks"
Dave and others asked me a few times to improve the file structure of glyphs files to be better subtable to deal with version control. It was mostly about the feature code being put in one line.

I made some experiments and plist can have multiple lines in a string after all. I implemented this in my parsing code and added a (yet hidden) custom parameter that would prevent the escaping of newlines

[2016-03-30 18:13] jamesgk commented on #25
This sounds good to me.

[2016-03-30 18:27] schriftgestalt commented on #25
The current parser does not support this. So it would need some work.

[2016-03-30 18:29] jamesgk commented on #25
Sure. I can work on that, could you provide an example source file?

[2016-03-30 18:31] schriftgestalt commented on #25
Just replace \012 with \n in any file that has feature code.

[2016-03-30 22:50] schriftgestalt opened #28 "Interpolation"
To help process glyphs files outside of Glyphs, the latest versions write the interpolation factors for each instance into the file. Under the key `instanceInterpolations` you find a dict with the masterID as keys and the interpolation factor as value.

[2016-03-30 22:57] davelab6 commented on #28
THANK YOU :D

[2016-03-31 18:14] #22 closed

[2016-04-01 01:19] jamesgk commented on #24
So, what to do if there is ambiguity? Should glyphs2ufo crash? Just warn? Not check for conflicts at all?

[2016-04-06 03:34] behdad commented on #24
I think glyph2ufo should warn and generate equivalent of what Glyphs generates.  Now, recently, we heard from Monotype that different versions of Glyphs are inconsistent as to what effectively they generate.

[2016-04-06 06:31] schriftgestalt commented on #24
Could you provide examples. I didn't change the kerning code in a long time so I'm courios what difference that might be.

[2016-04-08 19:30] #24 closed

[2016-04-08 19:30] behdad commented on #24
I'll try to see if I can get examples from them.

[2016-04-08 19:37] behdad commented on #24
So, question at this point is, if there is a glyph0-class1 and a class0-glyph1 that both apply to the same pair glyph0-glyph1, and the two pairs have different kern values, and there is no kern pair defined for glyph0-glyph1, then which kern value *wins* in the binary generated by Glyphs?

[2016-04-11 16:50] #25 closed

[2016-04-12 19:20] jamesgk opened #33 "Arabic mark positioning"
The file [NotoSansArabic-MM.glyphs](https://github.com/googlei18n/noto-source/blob/master/src/NotoSansArabic-MM.glyphs) from noto-source outputs the following TTF in glyphs:

[NotoSansArabic-Regular.ttf.zip](https://github.com/googlei18n/glyphs2ufo/files/215753/NotoSansArabic-Regular.ttf.zip)

With this TTF it is possible to see that mark U+064B (arabic fathatan) has a positioning rule with base U

[2016-04-13 00:29] schriftgestalt commented on #33
Anchors are taken from the components.

[2016-04-13 18:42] jamesgk commented on #33
OK. I think at least for glyphs2ufo that we want to propagate those components' anchors to the parent glyph, since this behavior seems to be Glyphs-specific.

[2016-04-13 20:34] behdad commented on #33
Agreed.

On Wed, Apr 13, 2016 at 11:42 AM, James Godfrey-Kittle <
notifications@github.com> wrote:

--
behdad
http://behdad.org/

[2016-04-16 07:50] schriftgestalt opened #37 "generating Style names"
I see you put a lot logic in the instance generator to automatically generate proper style names. ([Put width in style name instead of family name #35](https://github.com/googlei18n/glyphs2ufo/pull/35#issuecomment-210227192)). I don't think that is the right place to do this. The style names should be properly set in the .glyphs files already.

There are three ways to do that.
1. Do it manually in

[2016-04-16 07:59] twardoch commented on #37
I think these goals aren’t mutually exclusive. Style name generation based on some parameters and otger such production-related routines that allow to enhance or customize the input data are useful — regardless of the input data format. If .designspace + set of .ufos is the intermediate format *on which* certain routines can be run, even better. This set-up of files can be generated from .glyphs,

[2016-04-16 08:07] schriftgestalt commented on #37
That has nothing to do with the input format. This library is useful for generating instances from a specific master format. The main use case for now is to produce the Noto fonts. But to put the specific requirements for Noto in the instance generator is making it harder to use it for other things. That is as if the code would correct some design issues on the fly. Maybe another project depends o

[2016-04-16 08:16] twardoch commented on #37
Yes, I agree with that. We obviously agree that the Google guys have a business rationale of writing this wonderful software — and that is, primarily, to build a production system for the Noto fonts. But I think we all also agree that if a library such as glyphs2ufo is to receive bug reports or gain more functionality, then certain behaviors that *can* be made modular or optional *should* be made

[2016-04-17 22:01] behdad commented on #37
We definitely don't intend to encode Noto-specific logic in this module.  I think what happened is that the sources we received from our vendors had bogus and inconsistent naming data, so James ended up ignoring them.  But we all agree that we want to reverse that decision, retain names and remove heuristics, and fix the naming issues in the source.

I'm personally so far away from the details her

[2016-04-17 22:02] behdad commented on #37
Or, quite possibly, I don't understand what's exactly the issue is :).

[2016-04-18 04:45] twardoch commented on #37
Well, I sort of do: the design sources often contain “incomplete” instance info. In case of Noto, Monotype delivers the sources but it’s really up to Google to “productize” it into final fonts. This is actually quite common with foundries. External designers may not always have the full knowledge about how the foundry (in this case Google) wants to finally release the fonts — with which naming, wh

[2016-04-18 07:01] schriftgestalt commented on #37
I think in most cases, design sources and production sources should be in sync regarding instance settings (design space and names). That is especially so with OpenSource software when someone tries to generate instances on their own from the original design sources (the .glyphs files in this case).

[2016-04-18 07:36] twardoch commented on #37
I agree. That used to be true for most simple scenarios, where you just need a 1:1 relationship between sources and targets. But more and more, this is no longer the case. You often want a CFF-based desktop family, TT-based desktop family, some webfonts, and potentially some other formats. Also, people often make customized versions for clients — from the same sources.

In general software develop

[2016-04-18 18:12] jamesgk commented on #37
First, I'll echo the sentiment that we definitely don't want this to be Noto-specific. It's just that those are largely the only sources I've been testing with. Testing with other sources we don't immediately need to handle is a goal, but I haven't gotten around to it.

Another problem is that the dependencies for generating UFOs (defcon and mutatormath) are fairly complex and do a lot of name han

[2016-04-18 18:19] jamesgk commented on #37
My goal for this library is basically to 1) match Glyphs itself wherever possible both for naming masters and instances, but also 2) to make sure that output will conform to UFO/OpenType specs (for example, only include one of four possible permutations of Regular/Bold + Italic/NonItalic in name table entry 2).

[2016-04-21 19:55] behdad commented on #24
@schriftgestalt Do you happen to know this off the top of your head?  Can you document it?  Monotype is telling us "you should do whatever Glyphs does, as that's what designers see."

[2016-04-21 20:48] twardoch commented on #24
Here's is a small test.

# Situation 1
### Groups

[code]

### Kerning

[code]

### Result in FEA

[code]

### Result in text
When the text is `AVAvaVav`, the result in both Glyphs and HarfBuzz is:
[code]

<img width="1521" alt="scr- 2016-04-21 at 22 23 40" src="https://cloud.githubusercontent.com/assets/519108/14723214/3395c7e2-0810-11e6-9882-341df8e2f8ea.PNG">

# Situation 2
### Groups

[code]

[2016-04-21 21:27] behdad commented on #24
Thanks @twardoch  incredibly useful!  Can you contribute your .glyphs file to the project to add as a test?

So, it's either that the glyph-class wins, or that it's arbitrary based on what is sorted after what.  Can you investigate a bit more?  Perhaps because '@' sorts before the letters, the group-glyph is always processed before glyph-group?  Can you reject that assumption?  Using .notdef perha

[2016-04-21 21:31] twardoch commented on #24
I've amended my reply above with another situation, and added a ZIP with the test files.

[2016-04-21 21:43] twardoch commented on #24
For the `AV` text pair, it seems that Glyphs goes in this order. If it finds a match, it takes it, if not, it continues:
1. `A V`
2. `A @V`
3. `@A V`
4. `@A @V`

Which is actually logical — for any text pair, it first tries to find the “most specific match” for the 1st glyph in the pair, and then, the most specific match for the 2nd glyph in the pair.

So it looks to me that the generalized order

[2016-04-21 21:45] typesupply commented on #24
I'm still thinking! I have a day job and a ton of code stuff to think about.

[2016-04-21 21:46] behdad commented on #24
That's how I logicalized it to myself as well ;)

[2016-04-21 21:47] behdad commented on #24
Great to know!  Thanks.  Just to clarify, when I file issues, it's to document them.  By no means feel like *you* have to fix it.  If you agree on principle, one of us will happily send a PR.

[2016-04-21 21:50] schriftgestalt commented on #24
I had a look at the code.
It goes through all pairs in the order you see in the kerning panel. What it does is to produce two dicts, one with the class to class kerning and one with the glyph to glyph pairs (and flattened classes if needed).
In case of AV2, it first adds the pairs A v -100 and a v -100 from the @A v pair you see in the .glyphs file. Then it parses the rest of the list and those pr

[2016-04-21 21:53] behdad commented on #24
Thanks @schriftgestalt!  So the order is significant after all.  I think we can implement this.

[2016-04-21 21:55] twardoch commented on #24
Yeah. So, @schriftgestalt, would you say that in terms of FEA code generation, you’d do the following:

1. Expand all “class-to-glyph” pairs and store into a flat list.
2. Expand all “glyph-to-class” pairs and add to the previous list, overwriting entries where both glyphs are the same.
3. Take all “glyph-to-glyph” pairs and add it to the previous list, overwriting entries where both glyphs are th

[2016-04-21 22:00] behdad commented on #24
So I think the question is, what is that order?  Is it plain sorted list?

[2016-04-21 22:05] schriftgestalt commented on #24
Expand all “glyph-to-class” pairs and add to the previous list, overwriting entries where both glyphs are the same.

No. IT goes through the list of pairs and if it finds a pair that includes on glyph, and a class, it flattens the class and puts all pairs in the glyphs pair list.

The two list are actually nested dicts. That way new values overwrite old once.

The kerning is stores in an 'Ordered

[2016-04-21 22:06] twardoch commented on #24
Hmm, I’m looking at it in Glyphs, and I don’t know **how** Glyphs sorts the Kerning panel. I mean, first it sorts the “1st side” (groups or glyphs) somehow, and within the “1st side” entries, it makes “2nd side” entries (groups or glyphs). But I have no idea how Glyphs determines the order of sorting within each side.

I just arrived at this:
<img width="324" alt="scr- 2016-04-22 at 00 05 27" src=

[2016-04-21 22:09] schriftgestalt commented on #24
The order is like this:
[code]

[2016-04-21 23:08] jamesgk commented on #12
All the feature code in a UFO is stored in a single plaintext file, so maybe just some simple find+replace operations would be sufficient? Another concern is that components are referenced by glyph name. Not sure if there's anything else.

[2016-04-21 23:15] behdad commented on #12
Renaming at the end sounds more robust to me.  find+replace sounds scary.

[2016-04-21 23:19] jamesgk commented on #12
Is there an easy way to do renaming with fontTools?

[2016-04-21 23:25] twardoch commented on #12
The basic principle is: UFO uses glyph names which are not necessarily PostScript glyph names at all. The FEA code “sort of” uses PostScript glyph names, but the assumption is that they’re not necessarily that (especially since AFDKO now accepts characters in glyph names used within FEA which are not valid characters within PostScript glyph names).

There is currently no way to store PostScript gl

[2016-04-21 23:46] behdad commented on #12
It's not complete, but can be done.  See https://github.com/behdad/fonttools/issues/149

[2016-04-22 01:17] twardoch commented on #24
This may be off-topic, but where does this order come from? :)

[2016-04-22 07:23] schriftgestalt commented on #24
Mostly from the order of adding the pairs.

[2016-04-22 08:18] twardoch commented on #24
Ah, OK. That seems consistent with my experiment, thanks!

[2016-04-23 11:02] khaledhosny commented on #12
I recently needed a way to set production names in UFO files as well, may be we can agree on something in the glif lib and then ufo2ft and other tools would use it?

[2016-04-23 11:39] schriftgestalt commented on #12
Maybe glif > lib > public.productionname?

[2016-04-23 11:58] khaledhosny commented on #12
Or maybe postscriptName instead of productionname similar to the suggestion in https://groups.google.com/forum/#!topic/ufo-spec/pJnk5x1_6pE and to be an indicator that it needs to be a valid PostScript name?

[2016-04-23 12:00] twardoch commented on #12
I did like `public.postscriptName` suggested by @typesupply — it fits with other `postscript*` entries in [fontinfo](http://unifiedfontobject.org/versions/ufo3/fontinfo.plist/) and makes it obvious what its purpose is.

[2016-04-23 12:02] schriftgestalt commented on #12
Would you call the names in a TrueType file postscript, too? And postscriptsname sounds like one of the entries in the name table. And it is even longer.

[2016-04-23 12:03] twardoch commented on #12
...purpose but also heritage and set of restrictions etc. And after all in OT fonts, this name lives in the “[the PostScript table](https://www.microsoft.com/typography/otspec/post.htm)” (`post`) or in the `CFF ` table which in its spec makes heavy references to PostScript.

[2016-04-23 12:05] twardoch commented on #12
@schriftgestalt Of course I would. They are only needed for PostScript and PDF anyway, and are optional in TrueType-flavored fonts. And they live in the “PostScript table” (official spec name)

[2016-04-23 12:05] schriftgestalt commented on #12
I'm fine with both.

[2016-04-27 18:22] jamesgk opened #41 "glyphs file compatibility issue: unescaped quote in license string causes traceback"
https://raw.githubusercontent.com/googlei18n/noto-source/master/src/NotoSansThaiUI-MM.Glyphs

From https://github.com/googlei18n/fontmake/issues/56:
I'm not certain how the above input file was produced, but Glyphs.app handles it.
The issue is with the unescaped " in the license attribute.

The file above has:
_This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font

[2016-04-27 19:03] schriftgestalt commented on #41
Since a few month ago, the version number is stored in the second line of the file under the `.appVersion` key.

The escaping of quotes is already fixed. Resave the file in the latest version.

[2016-04-27 19:05] jamesgk commented on #41
cc @marekjez86 about escaping quotes and @dougfelt about version number.

[2016-04-27 19:05] #41 closed

[2016-04-27 19:19] jamesgk commented on #12
So I think we want to populate `public.postscriptName` using  1) the "production" field if present in the .glyphs data, or else 2) the production name in [GlyphData.xml](https://raw.githubusercontent.com/schriftgestalt/GlyphsInfo/master/GlyphData.xml) for this glyph.

I wonder how best to use info from GlyphData.xml? Should the file just be copied to glyphsLib?

[2016-04-27 19:33] anthrotype commented on #12
I suggest we add the @schriftgestalt GlyphsInfo repository as a submodule for glyphsLib, and install the GlyphData.xml file though setuptools' "package_data".

[2016-04-27 19:37] anthrotype commented on #12
And then we could use pkg_resourced.resource_filename() to retrieve the path to the packaged GlyphData.xml.

[2016-04-27 21:28] jamesgk commented on #12
Hmm. I wonder how valuable the data in GlyphData.xml really is, and whether that's worth doing. As far as I can tell it only specifies production names for glyphs with unicode values, using a "uniXXXX" pattern that's easy enough to do manually. Though, it also only specifies production names past uni0180 (with some seemingly arbitrary exceptions?)

[2016-04-27 21:36] schriftgestalt commented on #12
Entries in the GlyphData without a production name are most likely in AGLFN. The glyph list is helpful to map names to unicodes, e.g. If you need to find the Unicode of the base name for glyphs with suffixes.

[2016-04-27 21:53] jamesgk commented on #12
That's a good point. Though, this is possible with loaded UFOs too. Something like

[code]

Anyways, it's obvious we should at least use production names as they appear in Glyphs sources, so I'll open a PR with that for now.

[2016-06-30 23:06] jamesgk commented on #33
I think we need to revisit this, because propagating anchors from the first component of every glyph doesn't seem to always work. For example with [NotoSansHebrew-MM.glyphs](https://raw.githubusercontent.com/googlei18n/noto-source/master/src/NotoSansHebrew-MM.glyphs) the glyph yodyod-hb has two yod-hb components, but in the output from Glyphs it doesn't have any mark attachments.

My best guess fo

[2016-06-30 23:45] behdad commented on #33
Might as well open a new issue...

So, remind me, how is it decided where each of the yod-hb's connect to?

[2016-06-30 23:56] jamesgk commented on #33
I think this is the same issue, the existing solution just isn't sufficient

In this specific case, no idea. All we have in the Glyphs source is two components, one with an offset. Sometimes though (not in this case) the component glyph has mark anchors e.g. _top, _bottom which provide clues as to how they may have been attached by the source author.

[2016-07-01 14:39] schriftgestalt commented on #33
In the case of the 'yodyod-hb', it should (I’ll put it on my list) produce liga to mark code from the anchors in the yod-hb. To prevent this, one would need to change the subcategory of the yodyod-hb to 'Other'.

[2016-07-07 23:54] jamesgk commented on #33
Should be fixed.

[2016-07-07 23:54] #33 closed

[2016-07-08 20:08] felipesanches opened #55 "parser bug results in ValueError: unichr() arg not in range(0x110000)"
Steps to reproduce:

* Download this:
https://raw.githubusercontent.com/clauseggers/Inknut-Antiqua/master/Inknut%20Antiqua%20LATIN%20ONLY/Inknut%20Antiqua%20uprights%20124%20LATIN%20ONLY.glyphs

* try to load this glyphs file and it will crash with:

[code]

The reason for this is at line 68 of the glyphs file which starts with:

[code]

As you can see here, both \U2018c as well as \U2018D are int

[2016-07-08 20:21] felipesanches opened #56 "Not yet Python3-ready?"
While working on https://github.com/googlefonts/fontbakery/issues/754 I tried using glyphsLib with python 3.4 and got this crash:

[code]

[2016-07-08 21:41] anthrotype commented on #56
Python 3 syntax no longer support unicode _and_ raw string literals like `ur"test string"`.
I suggest using `from __future__ import unicode_literals`, to treat all string as unicode strings like in Python 3, and replacing `ur` with just `r` (for raw strings).

[2016-07-09 14:09] #56 closed

[2016-07-11 20:04] jamesgk commented on #55
One solution is to simply re-save the source with the latest version of Glyphs, which should replace the escapes with their respective characters. If we want to support older sources though, I'm not sure if it's safe to assume that no hexadecimal escapes are >0xFFFF. @dougfelt, do you know?

[2016-07-11 20:09] behdad commented on #55
That would be valid Unicode  The code is grabbing six letters, ie.  \U2018ca.  We can limit six-letter sequences to those starting with 10.  But proper fix, IMO, is to implement whatever Glyphs does.  Ie, if it always grabs four letters, we should do the same.  @schriftgestalt ?

[2016-07-11 21:22] schriftgestalt commented on #55
Glyphs assumes 4 hex digits.

[2016-07-11 21:36] #55 closed

[2016-07-13 21:45] jamesgk commented on #11
glyphsLib has been using ufo3 naming ever since moving from Robofab to Defcon.

[2016-07-13 21:45] #11 closed

[2016-07-13 21:46] jamesgk commented on #6
Could you give an example of where glyphsLib handles these incorrectly? I just tried to produce the same results as Glyphs, and I'm having a hard time finding documentation on these values.

[2016-07-13 21:57] schriftgestalt commented on #6
I can’t remember what file I tried. It would probably have a bottom zone for superior figures. With a pos like 400 and size -15.

[2016-07-14 00:37] #6 closed

[2016-07-25 13:59] m4rc1e opened #61 "UnicodeEncodeError: 'ascii' codec can't encode character u'\xa9' (copyright field)"
Hey folks,

I've been using fontmake on [https://github.com/weiweihuanghuang/Work-Sans](url). This font uses a copyright symbol in the copyright field.

'Copyright © 2015 by Wei Huang. All rights reserved.'

Fontmake didn't like this. The traceback points to glyphsLib/builder.py", line 214, in generate_base_fonts
[code]

If I remove the copyright symbol, it will successfully convert the .glyphs in

[2016-07-25 14:02] anthrotype commented on #61
hmm, supposedly this should have been fixed with https://github.com/googlei18n/glyphsLib/pull/60

[2016-07-25 14:09] m4rc1e commented on #61
Hey Cosimo,

I thought the same.

When I do git log, the last commit was.

[code]

[2016-07-25 14:09] anthrotype commented on #61
try doing `pip install -U -r requirements.txt` from fontmake's source directory.

The dependency hell is not fixed yet. The version numbers are meaningless, because we don't tag releases very often.

Maybe we should to add something like https://github.com/pypa/setuptools_scm to all the projects that fontmake relies on, so the version string you see in `pip list`, `pip freeze`, etc. is not "0.1" f

[2016-07-25 14:29] m4rc1e commented on #61
I attempted that approach on my first attempt.

Just to double check. I've recloned the fontmake repo, created a new virtualenv and followed the installation instructions. I now have the following dependencies.

[code]

Still no luck.

[2016-07-25 14:33] anthrotype commented on #61
can you post the full traceback?

[2016-07-25 14:36] anthrotype commented on #61
also, python 2 or 3?

[2016-07-25 14:38] m4rc1e commented on #61
Python 2.7

    ufos = glyphsLib.build_masters('/Users/marc/Documents/googlefonts/automated_build_proto/Work-Sans/sources/Work Sans.glyphs', master_dir)
  File "build/bdist.macosx-10.11-intel/egg/glyphsLib/__init__.py", line 76, in build_masters
  File "build/bdist.macosx-10.11-intel/egg/glyphsLib/__init__.py", line 60, in load_to_ufos
  File "build/bdist.macosx-10.11-intel/egg/glyphsLib/builder.p

[2016-07-25 14:56] anthrotype commented on #61
Ok, the issue is because since #60 glyphsLib parser is decoding the input data using UTF-8 encoding so the parsed data is already unicode strings.
That line in builder.py was still attempting to call `decode` on a unicode string, which on Python 3 is illegal, whereas on Python2 it encodes with default encoding ('ascii') before decoding with the specified encoding. That's why it fails with `Unicode

[2016-07-25 15:00] m4rc1e commented on #61
Thank you Cosimo!

[2016-07-25 18:45] #61 closed

[2016-08-02 17:33] jamesgk opened #64 "Glyphs handles source in unexpected way"
@schriftgestalt, we noticed something strange recently: in [NotoSansArabic-MM.glyphs](https://raw.githubusercontent.com/googlei18n/noto-source/master/src/NotoSansArabic-MM.glyphs), the Light layer of the glyph "fehDotbelowThreedotsabove-ar" contains a component with name "threedotsupabove-ar" and transform {1, 0, 0, 1, -353, 18}. Despite this negative x-offset, when the file is opened in Glyphs th

[2016-08-02 17:40] jamesgk commented on #64
cc @adrientetar @behdad

[2016-08-02 18:18] schriftgestalt commented on #64
It seems that the file was saved in a version where the automatic alignment was not working correctly. Because the marks/dots are totally wrong in the file and are automatically "repaired" when you open the file.

The transformation of the components is only used if the component is set to not align or the alignment it disabled on font level.

[2016-08-02 18:31] jamesgk commented on #64
I see, thanks. So I guess the way to fix this particular issue is just to open and re-save in Glyphs.

Still, maybe our handling of components in glyphsLib is incorrect; I don't think we're taking alignment into consideration.

[2016-08-02 19:13] m4rc1e commented on #64
Hey @jamesgk,

I've also noticed smart components in Glyphs don't work either. You probably already know about this ;)

[2016-08-02 19:15] schriftgestalt commented on #64
The automatic alignment is not needed in glyphsLib. The transform struct should be enough. For aligned components, it is saved just to be able to use it externally like in glyphsLib.

The smart components are a different issue.

[2016-08-02 19:17] jamesgk commented on #64
OK, great to know.

@m4rc1e let's definitely open a separate issue for smart components.

[2016-08-02 21:29] behdad commented on #64
@schriftgestalt What version of Glyphs is required to save these correctly?
@marekjez86 We need to ask Monotype to use a version of Glyphs that fixes this issue.

[2016-08-02 21:30] behdad commented on #64
Reopening to conclude on a resolution.
James: maybe we should warn if the Glyphs version the file was saved with is too old?

[2016-08-02 21:30] behdad commented on #64
I don't like silently generating bad fonts.

[2016-08-02 22:36] schriftgestalt commented on #64
I’m not really sure what is the earliest version that would fix this. But version 2.3 and later works fine.
For some time now, glyphs saves its version into the beginning of the file. Files without that "_appversion" entry should be considered outdated.

I updated the file and send a pul request.

[2016-08-02 22:48] marekjez86 commented on #64
@behdad : per https://glyphsapp.com/blog/new-features-in-glyphs-2-3 2.3 was released around 2016 May 10. The NotoSansArabic-MM.glyphs source was delivered to us on 2016 February 1 (i.e., before this fix was avaialble - let's just assume it; something like this will happen in the future). I do not think there's anything I can communicate to MTI. If there are bug fixes like this in the Glyphs.app th

[2016-08-02 22:52] schriftgestalt commented on #64
I don't think that there need to be an automatic system to fix this kind of things. This is an ordinary bug in the source that should have been recognized before submitting and should be fixed manually.

[2016-08-03 00:03] #64 closed

[2016-08-03 11:44] schriftgestalt commented on #64
I had another look at the file. In around 600 glyphs, some masters (mostly the condensed) have disabled the alignment. That leads to inconsistent spacing and mark/dot positions.

To display all affected glyphs, set up a list filter like this:
<img width="500" alt="screenshot" src="https://cloud.githubusercontent.com/assets/174660/17364407/4f5c3184-5980-11e6-8092-3d9495ad89f3.png">

[2016-08-18 22:59] impallari opened #71 "Wrong import of Kerning groups"
Sometimes the "Kering Classes" from the UFO files end up as "Opentype Classes" in the exported Glyph file. These is wrong.
See attached image: Empty kerning groups in the columns, and kerning classes wrongly imported as opentype classes
![screen shot 2016-08-18 at 19 47 40](https://cloud.githubusercontent.com/assets/3036973/17793459/d14ae092-657d-11e6-9492-2d2422c1f13d.png)

Instead, they should e

[2016-08-19 04:27] impallari opened #72 "Shifted diacritics"
Diacritics jumps all over the place in exported versions.
See attached animation: Original vs Migrated
![diacritics original vs migration - animation](https://cloud.githubusercontent.com/assets/3036973/17798893/1ac5dd34-65ac-11e6-82b8-1a75d303d267.gif)

[2016-08-19 05:47] schriftgestalt commented on #71
Can you send me the ufo?
Georg

[2016-08-19 05:50] impallari commented on #71
The source and converted files are here: https://github.com/m4rc1e/Raleway

[2016-08-19 05:50] impallari commented on #72
The source and converted files are here: https://github.com/m4rc1e/Raleway

[2016-08-19 06:39] schriftgestalt commented on #71
The .ufos in the Raleway/old/version-3.000/src/ folder contain FontLab style kerning. That is not supported in Glyphs and probably nowhere else, too.

[2016-08-22 22:18] jamesgk commented on #72
What exactly are we looking at here? What is "Original" vs. "Migrated"?

[2016-09-17 10:22] adrientetar commented on #72
It would seem original is Glyph and migration is fontmake (has incorrect placement for certain diacritics).

[2016-09-17 16:21] khaledhosny commented on #72
I think the original is FontLab and migrated is Glyphs, so glyphsLib is not involved at all.

[2016-09-17 16:35] moyogo commented on #72
Basically this issue and #71 have nothing to do with glyphsLib.
@impallari glyphsLib is a library which “provides a bridge from Glyphs source files (.glyphs) to UFOs via defcon” but it it not used by Glyphs.

Although @schriftgestalt is involved, opening issues about Glyphs.app here is inappropriate. If I’m not wrong, it’s better to either report the issue on https://forum.glyphsapp.com/ or email

[2016-09-24 08:37] n8willis opened #74 "UFO to glyphs conversion"
It would be extremely helpful for me to be able to convert UFO files directly to glyphs format.

I realize from informal conversation that many of the internals necessary are in place or close; it wasn''t clear what remains.

I'm thinking primarily of the need to handle single UFOs, not multiple masters, although obviously that would be useful in the long run.

[2016-09-24 09:50] schriftgestalt commented on #74
I started to implement a proper object model to represent glyphs files in memory. One advantage if it would be to able to write files. That is not 100% there yet and needs some updating an better integration with the rest of the code.

And what is your usecase for this?

[2016-09-24 10:50] n8willis commented on #74
The use case is working on collaborative projects between users using Glyphs and those using FontForge.

(At least until I persuade you to release a Linux version of Glyphs, round-tripping through UFO is the best alternative.... :) )

[2016-09-24 11:35] schriftgestalt commented on #74
it might be more useful to add .glyphs support to fontforge directly.
The classes.py file from my branch in glyphsLib and the Fontlab export script can be used as reference.
That would allow for better translation between values, e.g., you could keep the MM setup.
I'm happy to help with the implementation.

[2016-09-24 14:37] n8willis commented on #74
Well, personally, I'd consider a FontForge-only solution less useful; because there are other UFO-centric tools. @jamesgk , what do you think?

[2016-09-26 22:33] jamesgk commented on #74
We have gotten requests for a UFO->Glyphs converter before. We can read UFOs into UFO-like Python objects and write Glyphs source from Glyphs-like Python objects but the missing piece is converting UFO-like objects to Glyphs-like objects. Basically the opposite of [builder.py](https://github.com/googlei18n/glyphsLib/blob/master/Lib/glyphsLib/builder.py) which is ~750 lines and pretty messy.

Compl

[2016-09-26 22:41] #72 closed

[2016-09-27 00:38] schriftgestalt commented on #74
Depending on the time pressure for the ufo>glyphs converter, I would wait until the object model is in better shape?

[2016-09-27 16:52] impallari commented on #72
Yep, you are all right, sorry.
Initially I thought that the source had been converted using glyphsLib but later learned is was done using the FL export macro. Sorry.

[2016-09-27 16:55] jamesgk commented on #72
No problem. Thanks for confirming!

[2016-10-02 12:32] anthrotype opened #76 "use new `public.postscriptNames` lib key"
As I explained in https://github.com/googlei18n/ufo2ft/issues/72, we need to replace uses of `public.postscriptName` (e.g. [here](https://github.com/googlei18n/glyphsLib/blob/9387810ea3c540bb4d0412282e8a83c9e8b6bc21/Lib/glyphsLib/builder.py#L618)) with the new `public.postcriptNames`, that was added last week to the UFO spec (see https://github.com/unified-font-object/ufo-spec/commit/c8620fff3a538

[2016-10-05 08:07] #76 closed

[2016-10-26 19:41] jamesgk opened #78 "Take ascender/descender values from master data when not found in instances?"
I noticed that Glyphs will use ascender and descender values from font masters when not defined in instances. I'm not entirely sure how this works -- it doesn't seem to interpolate, so perhaps it just takes values from the Regular master or something.

Anyways, maybe this should also happen when generating instance UFOs.

[2016-10-27 06:27] schriftgestalt commented on #78
Glyphs does interpolate the values from all involved font masters. if you have a file where it don't work, please send it to me that I can fix it.

[2016-10-27 19:13] jamesgk commented on #78
Thanks Georg. Upon further investigation I see that I was at least partially mistaken. But, attached is an example source with unexpected output. In this case, I have two masters with weight values 60 and 100 and ascender values 600 and 800. I have two instances with weight values 60 and 80. In the instance output I see expected sTypoAscender values (600 and 700), but hhea ascent and usWinAscent s

[2016-10-27 19:13] #78 closed

[2016-10-27 19:20] jamesgk commented on #78
Opened https://github.com/googlei18n/ufo2ft/issues/78 on ufo2ft.

[2016-10-28 09:05] schriftgestalt commented on #78
To ensure equal line spacing all three sets of vertical metrics use the same numbers. The ascender is calculated UPM * 1.2 - descender. And as most (double) accents are above the letters, all extra space is added on top.

If I would base the line spacing on the sum of ascender + descender, it could give difference line spacing between different weights.

There are probably better ways to calculate

[2016-11-01 00:47] jamesgk commented on #78
For [Noto Serif Sinhala](https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifSinhala/NotoSerifSinhala-MM.glyphs), I noticed that all the master ascender values are 997, and all of the output instances have this value for hhea ascent, usWinAscent and usWinAscent. Am I right in thinking that this is a special case -- when all the masters contain the same ascender value, that ascender

[2016-11-02 00:26] schriftgestalt commented on #78
The calculation is only true, if ascender + descender < UPM * 1.2.
So it is calculated like this:
[code]

[2016-11-02 00:47] schriftgestalt commented on #78
Of cause the lineGap can’t be negative and is set to zero in that case.

[2016-11-07 22:55] jamesgk commented on #78
So, is `hheaLineGap` calculated as `UPM * 1.2 - hheaAscent - hheaDescent`? I.e. always zero?

[2016-11-08 08:33] schriftgestalt commented on #78
No, only if `ascender + descender < UPM * 1.2`

[2016-11-08 18:51] jamesgk commented on #78
Sorry, I guess what I was wondering was, is it

`hheaLineGap = max(UPM * 1.2 - hheaAscent - hheaDescent, 0)` (which incidentally is always 0),

or simply

`hheaLineGap = typoLineGap`.

Sounds like the latter if it's dependent on the generic ascender and descender values.

[2016-11-08 18:57] jamesgk commented on #78
Although, that's *not* consistent with the output I see from the attached Glyphs source, which has an instance with

[code]

[test.glyphs.zip](https://github.com/googlei18n/glyphsLib/files/579107/test.glyphs.zip)

[2016-11-09 20:53] adrientetar commented on #74
But if you want a glyphs file you probably have the Glyphs app too. Is its import function dissactisfactory or anything?

[2016-11-09 20:54] jamesgk commented on #74
Not necessarily. The use-case here and with Noto is that someone may want to contribute to a project which is based on existing Glyphs sources, but without using the Glyphs app.

[2016-11-09 20:56] adrientetar commented on #74
Oh I see.

[2016-11-09 21:37] schriftgestalt commented on #74
My (old) branch is able to write .glyphs file. So if we could implement this, it would be much easier to implement moving data in both directions.

[2016-11-09 21:42] jamesgk commented on #74
So is the master branch. The missing piece is converting UFO-structured data to Glyphs-structured data.

Assuming you're talking about overhauling the Glyphs data handling, that's a big if. It's not a trivial task, and I'm quite busy these days. Honestly at this point I'm not sure if I'm ever going to have time for it. But I would like to see it happen.

[2016-11-09 21:51] schriftgestalt commented on #74
There was a plan to refactor the lib to be object oriented. Then it would be easier to such things as migrating data.

[2016-11-09 21:56] jamesgk commented on #74
Yes, that's exactly what I was referring to as "overhauling the Glyphs data handling".

[2016-11-30 15:12] m4rc1e commented on #15
I've started modifying some of my glyphsapp scripts to work with both glyphsLib and Glyphsapp. I need this functionality because I'd like to batch run my qa tools on a collection of .glyphs files, from the cmdline. I echo twardoch's sentiments. Having the same attributes as the Glyphsapp python api is a winner.

@schriftgestalt how are you progressing with this?
I've written a very rudimentary wra

[2016-11-30 16:23] schriftgestalt commented on #15
I  pythons skills and my time are not

[2016-11-30 18:38] jamesgk commented on #15
I think we should keep this open, though neither Georg or I seem to have time to work on it in the foreseeable future. We at least agree that it would be nice to have.

[2016-11-30 18:39] m4rc1e commented on #15
I'll send a pr in a week or so.

[2016-11-30 19:26] schriftgestalt commented on #15
I didn't mean to close it. Was trying to answer in the train.

I don't have enough python skills and time to properly set this up. But am willing to help out as much as I can.

[2016-12-13 15:54] brawer opened #85 "Emit table GDEF with GlyphClassDef and LigatureCaretByPos statements"
When glyphsLib produces UFO for a font with ligature caret positions, the generated `features.fea` should contain a `table GDEF` block with `LigatureCaretByPos` statements. Originally, I planned doing this in ufo2ft but that seems the wrong place; see also https://github.com/googlei18n/ufo2ft/issues/91.

[2016-12-13 16:07] brawer commented on #85
For example, when converting the attached [LigatureTestFont](https://github.com/googlei18n/glyphsLib/files/649410/LigatureTestFont.zip) to UFO, the produced `features.fea` should contain the following statement:

[code]

cc @schriftgestalt since it would be nice if Glyphs.app could do the same when converting a Glyphs file to UFO

[2016-12-14 10:29] brawer opened #86 "KeyError for (presumably) valid glyphs file"
GlyphsLib crashes when trying to load the [attached font](https://github.com/googlei18n/glyphsLib/files/651394/NotLikedByGlyphsLib.glyphs.zip). But Glyphs.app has no problem opening this file.

[code]

[2016-12-14 11:42] brawer opened #88 "Add GlyphsData to glyphsLib"
To convert Glyphs files to UFOs in the exact same way as Glyphs.app, glyphsLib will need the two data files  [GlyphData.xml](https://raw.githubusercontent.com/schriftgestalt/GlyphsInfo/master/GlyphData.xml) and [GlyphData_Ideographs.xml](https://raw.githubusercontent.com/schriftgestalt/GlyphsInfo/master/GlyphData_Ideographs.xml)  from @schriftgestalt’s [GlyphsInfo](https://github.com/schriftgestal

[2016-12-14 11:53] anthrotype commented on #88
I like the second approach much better.
Instead of having adjustment tables for anything new since unicode data 3.2.0, we could use the unicodedata2 backport which now works on both python 2 and 3, and has the latest 9.0.0:
https://github.com/mikekap/unicodedata2

[2016-12-14 11:55] anthrotype commented on #88
it already has pre-compiled wheels for windows on PyPI, but I can easily make it ship mac + linux wheels too.

[2016-12-14 13:26] twardoch commented on #88
Many of our tools already do:
[code]
This was done after my suggestion about a year ago. It’s great that `unicodedata2` is active, I find it quite essential.

In the longer term, I think it’d be useful to create a `glyphWisdom` repo that would unify a few projects by providing importers from various sources, editable user-overridable data sets ("local" vs. "global"), and, whenever possible, an opt

[2016-12-14 14:20] brawer commented on #5
Are there any remaining tasks on this bug? If not, can it be closed?

[2016-12-14 18:18] jamesgk commented on #5
I think it should be closed

[2016-12-14 20:17] schriftgestalt commented on #88
There are some rules that try to find glyph info for glyphs not in GlyphData. That is mostly for glyphs with suffixes and ligatures.

The suggestions from Adam are very interesting but might be a bit to much for what we need here?

Would an SQLite cache solve the speed issue?

[2016-12-14 20:37] schriftgestalt commented on #86
The file is invalid but Glyphs seems to be able to load the file anyway.

The problem is that there are all but one masters are missing, but the layers are still there. Those layers show up as 'normal' extra layers in the only master but they are missing the 'associatedMasterID'.

[2016-12-15 17:30] anthrotype commented on #88
How slow is slow?
On my machine, I can parse the GlyphData.xml with cElementTree in a tenth of a second.
Not so bad, I'd say.

[code]

returns:

[code]

[2016-12-15 17:33] anthrotype commented on #88
having said that, I'm all for not having to duplicate data if it's available elsewhere (`unicodedata`) and if it's faster to load.
So nevermind.

[2016-12-15 17:46] schriftgestalt commented on #88
And what about having less dependencies?

[2016-12-15 17:47] anthrotype commented on #88
just for the record, if we serialize that mega dictionary of dictionaries as a json file, loading it with the built-in `json` module takes half the time than parsing the xml with cElementTree (about 0.05 vs 0.10 seconds).

[2016-12-15 17:54] anthrotype commented on #88
I don't see that as an issue. It's easy to make pre-compiled wheels available for unicodedata2, and adding a dependency to glyphsLib is as easy as appending it to the list of `install_requires`.
Note that fontmake also relies on a few native C extension modules: compreffor and pyclipper (for booleanOperations); and we handle those just fine.

[2016-12-15 18:48] brawer commented on #88
I’ve been playing with this for a bit. I think the key part is mapping from the Glyphs-internal glyph names to production names. Almost all production names follow the [AGL specification](https://github.com/adobe-type-tools/agl-specification) and can be algorithmically mapped to a Unicode string. From that Unicode string, the other properties in GlyphsData.xml can be derived.

There’s exceptions w

[2016-12-15 19:00] anthrotype commented on #88
This is great, thanks Sascha!

Don't know if it's what you're looking for, but as you probably know already in fontTools.misc.py23 we have a `unichr` and `byteord` functions that work like python3 `chr`/`ord` built-ins, even on narrow python2 builds:
https://github.com/fonttools/fonttools/blob/1a9389653cfec45be04f9cc1c7b820fa4d9e6b8b/Lib/fontTools/misc/py23.py#L33-L95

[2016-12-15 20:12] anthrotype commented on #88
I sent a pull request to https://github.com/mikekap/unicodedata2/pull/12 so that it also builds wheel packages for Mac and Linux.
They are already available on my fork at:
https://github.com/anthrotype/unicodedata2/releases/tag/9.0.0-2+wheels
When (and if) @mikekap uploads them to PyPI, we can have `unicodeda2` as requirement in our pure-python packages without our users needing a C compiler.

[2016-12-15 21:05] schriftgestalt commented on #88
How do you think the unicodedata2 repo should work? By looking up the unicode instead of the name? That only works reliably for encoded glyphs. Just add any suffix and you need proper name2info mapping.

[2016-12-15 23:25] anthrotype commented on #88
As Sascha explained, we can generate a mapping between Glyphs-internal glyph names to production names, and from the latter (if they follow AGL) derive the unicode string, and from unicodedata derive the character properties; store the exceptions for the rest which don't.

[2016-12-16 01:07] khaledhosny commented on #88
Why not just return an integer (code point) and avoid having to deal with wide/narrow build issues?

[2016-12-16 08:48] anthrotype commented on #88
Because the unicodedata module functions expect Unicode strings.

[2016-12-16 17:53] robmck-ms opened #89 "Duplicate glyphs in GDEF mark set"
When building Selawik from Glyphs sources using fontmake, a number of entries are duplicated in the mark sets in GDEF. Not sure if this causes problems in any OS, but it doesn't conform to the OT spec, and isn't very efficient.

Source: [selawik-test-kern.zip](https://github.com/googlei18n/glyphsLib/files/657881/selawik-test-kern.zip)

From ttx:

[code]

[2016-12-17 17:28] anthrotype opened #90 "setting up email notifications on pushes to fontmake-dev list"
Same as https://github.com/googlei18n/ufo2ft/issues/93

[2016-12-19 18:49] #90 closed

[2016-12-20 13:37] jamesgk opened #91 "Handle smart components"
Account for these when exporting UFOs from Glyphs source:
https://glyphsapp.com/tutorials/smart-components

[2016-12-20 13:51] jamesgk commented on #91
Actually, it would help to see some practical example Glyphs source using smart components.
cc @m4rc1e who brought this up in https://github.com/googlei18n/glyphsLib/issues/64#issuecomment-237012031.

[2016-12-22 09:27] brawer opened #93 "Record commit hash of GlyphData?"
In the review of https://github.com/googlei18n/glyphsLib/pull/92, @anthrotype asked if the `glyphdata_generated.py` file should record the commit hash of the `schriftgestalt/GlyphsInfo` repository from which the GlyphData.xml was downloaded. One option is to add `schriftgestalt/GlyphsInfo` repo as a git submodule of `glyphsLib`, and run the `generate_glyphdata.py` script from the local submodule c

[2016-12-22 10:26] anthrotype commented on #93
Another way, instead of the submodule, would be to use send a `GET` request to Github API and retrieve the commit hash of `schriftgestalt/GlyphsInfo/master`:

https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository

A bit of curl and sed does the trick:
[code]

I'm sure with `urllib.request` you can do the from Python:
https://docs.python.org/3/library/urllib.request.html#modul

[2016-12-22 21:56] #93 closed

[2016-12-23 21:58] m4rc1e commented on #91
Hey @jamesgk,

We amended an insane one recently, https://github.com/phoikoi/VT323. It's a pixel font made out of smart components.
![screen shot 2016-12-23 at 22 57 15](https://cloud.githubusercontent.com/assets/7525512/21462987/2f76c2c8-c963-11e6-9ae4-bac101ad9255.png)

I'll also see if I can find a more traditional font which uses smart components for serifs etc.

cc @fontHausen

[2016-12-27 14:52] #88 closed

[2016-12-27 14:55] brawer commented on #88
We now have `name`, `production_name`, `unicode`, `category`, and `subcategory`. As far as I can tell, these properties should be sufficient for converting Glyphs files to UFO. If we need additional properties (eg. the descriptive name), it’d be easy to add them.

[2017-01-23 15:36] #12 closed

[2017-01-23 15:40] anthrotype commented on #12
Thanks Sascha!
So I guess the next steps will be tagging a v1.3.0 release for glyphsLib, bumping the minimum `install_requires`  of fontmake to `"glyphsLib>=1.3"`, and finally release a new fontmake v1.2.0.
I can do that, unless you have other stuff to push to glyhpsLib.

[2017-01-23 15:49] anthrotype commented on #85
@brawer how are you planning to fill in GlyphClassDef statements? doesn't feaLib take care of doing that already when they are not explicitly defined in features.fea?

[2017-01-23 15:50] brawer commented on #5
OK, closing this bug then.

[2017-01-23 15:50] #5 closed

[2017-01-23 18:22] khaledhosny commented on #5
AFAIK, feaLib will not set mark class unless the glyph has a mark anchor, but it is not a requirement for mark glyph to always have an anchor. IMHO, setting glyph classes explicitly should be better if they are already known.

[2017-01-23 18:28] anthrotype commented on #5
@khaledhosny I think you were commenting on the other issue about GlyphClassDef?
https://github.com/googlei18n/glyphsLib/issues/85#issuecomment-274524660

[2017-01-23 19:16] khaledhosny commented on #85
AFAIK, feaLib will not set mark class unless the glyph has a mark anchor, but it is not a requirement for mark glyph to always have an anchor. IMHO, setting glyph classes explicitly should be better if they are already known.

[2017-01-23 19:17] khaledhosny commented on #5
Right, sorry. Opened the wrong link I guess. Moved my comment to the right place (feel free to delete the ones here if you want to).

[2017-01-25 09:47] brawer opened #99 "Assign components in GlyphClassDef"
Currently, glyphsLib does not emit ligature components in `GlyphClassDef` of `table GDEF`, so the last argument to `GlyphClassDef` is always empty. Probably glyphsLib should indicate ligature components, but I haven’t been able to find out what logic is used by Glyphs. Maybe @schriftgestalt can tell?

[2017-01-25 10:17] anthrotype commented on #99
I haven't checked Glyphs.app and haven't thought more than 3 minutes on it, but my naive algorithm would be: we know when a glyph is a "Ligature", i.e. `if has_caret or subCategory == 'Ligature'`, then we can check if that glyph has any components, and assign those to the category "Ligature Components"?

[2017-01-25 10:26] anthrotype commented on #99
For reference, https://www.microsoft.com/typography/otspec/GDEF.htm

I understand this to mean that "Ligature Components" are not just glyphs used as components in a composite ligature glyph, but also glyphs that are laid out via GSUB in a desired sequence to display a "ligature", but the latter does not necessarily exist as a separate glyph?

[2017-01-25 11:44] schriftgestalt commented on #99
Glyphs puts the ligatures in the GDEF if the glyph has `caret_X` anchors.

[2017-01-25 11:51] anthrotype commented on #99
I think Sascha was asking for GDEF ligature components, not ligatures.

[2017-01-25 12:32] khaledhosny commented on #99
What is ligature component class good for? No lookup flags require them (unlike other glyph classes) and no other OTL handling makes use of it AFAIK.

Oh, I now saw the part of the spec describing it (that @anthrotype is referencing above as well), and I think we can just ignore it. Looks like some early OpenType idea that didn’t gain any traction.

[2017-01-25 13:50] anthrotype commented on #99
I don't know what they are for. The very same quoted paragraph from the GDEF spec ends with

which suggests these ligature components aren't actually used at all.

So maybe we can ignore them, like @khaledhosny suggested.

@schriftgestalt does Glyphs.app populate the fourth argument of the `GlyphClassDef` statement in the generated features.fea?

[2017-01-26 10:08] brawer commented on #85
Here’s the logic of Glyphs.app, summarizing a [discussion thread](https://github.com/googlei18n/glyphsLib/pull/100#issuecomment-275204328) on this bug for reference:

* **Base:** any glyph that has an attaching anchor, and that is neither classified as Ligature nor Mark using the definitions below;
* **Ligature:** if subCategory is “Ligature” and the glyph has at least one attachment anchor;
* **M

[2017-01-26 23:22] behdad commented on #85
This is producing invalid fea files because some of the caret positions are non-integer. @schriftgestalt is that expected?  Ie. I see in .glyphs source:
[code]

[2017-01-27 00:32] behdad commented on #88
FWIW would be nice if we had the XML-parsing code as well, such that custom GlyphsData.xml was also supported.  When doing that, I'm not sure if keeping the default use s separate codepath is a good idea.

Also, I believe GlyphsData.xml changes over time as well.  How are we supposed to deal with that?

[2017-01-27 00:43] anthrotype commented on #88
by periodically re-running `MetaTools/generate_glyphdata.py`, no?

[2017-01-27 10:21] anthrotype commented on #88
The `generate_glyphdata.py` does all that already, the only thing it is hard-coded to fetch the official GlyphData.xml from `schriftgestalt/GlyphsInfo` repository.
But we could add a command-line option to pass the path to a local custom GlyphData.xml file as an alternative to downloading the official one.
Then users could pass their own custom `glyphdata_generated` module as `data` argument to `g

[2017-01-27 11:35] brawer commented on #99
Apparently Glyphs.app never populates the fourth component of `GlyphClassDef`. Currently glyphsLib replicates this. Closing bug.

[2017-01-27 11:35] #99 closed

[2017-01-27 11:37] anthrotype commented on #85
Let's keep this open until we figure out how the Ligature class is actually populated.

[2017-01-27 11:44] brawer commented on #85
@schriftgestalt: First of all, get well soon!

Once you’re back, can you help us here? After much back and forth, we’re still not sure if glyphsLib generates `GlyphClassDef` statements in the same way as Glyphs.app. Currently, glyphsLib does the following in [build_gdef](https://github.com/googlei18n/glyphsLib/blob/master/Lib/glyphsLib/builder.py#L698) ([tests](https://github.com/googlei18n/glyphs

[2017-01-27 11:48] brawer commented on #3
Closing this bug because the initial topic (“ move glyphslib.py contents to __init__.py”) appears to be done. Feel free to file new bugs any time...

[2017-01-27 11:48] #3 closed

[2017-01-27 14:03] anthrotype commented on #85
I did some more experiments and managed to get the `# Liga` GDEF class populated somehow.
Here is what I did:

1) I created a "lam_alef-ar" glyph, which has subCategory="Ligature"
2) I created a "dotabove=ar" glyph, category="Mark"
3) I added a "top_1" anchor to the "lam_alef-ar" glyph as well as a corresponding "_top" anchor in the "dotabove-ar" glyph. I can see the mark glyph appearing in the gl

[2017-01-27 15:30] schriftgestalt commented on #85
I can’t test it right now. If you add a 'top' anchor to a ligature, you need at least on mark that attaches to it.

[2017-01-27 20:08] schriftgestalt commented on #85
You need to round the coordinate.

[2017-01-28 19:16] anthrotype opened #103 "not all UnicodeData categories are mapped in glyphdata_generated"
The UnicodeData specification contains 30 categories:
http://www.unicode.org/L2/L1999/UnicodeData.html

They are all used by the `unicodedata` module, e.g.:
https://hg.python.org/cpython/file/tip/Modules/unicodedata_db.h#l606

However, the current `glyphsLib.glyphdata_generated.DEFAULT_CATEGORIES` mapping between UnicodeData categories and Glyphs.app categories only contains 28 entries.

By compar

[2017-01-28 19:51] anthrotype commented on #103
Given that the `glyphdata_generated` is indeed automatically generated, the issue should be somewhere in the `MetaTools/generate_glyphdata.py` script that builds the data.

The issue is present in the released glyphsLib==1.3.0, and currently affects all the Noto fonts that specify the carriage return glyph as "uni000D" instead of "CR":

[code]

It can reproduced by simply calling `get_glyph` with

[2017-01-30 09:21] #103 closed

[2017-02-08 12:36] anthrotype opened #111 "differences in default glyph order between CFF and TTF"
I noticed a difference in the glyph order generated by Glyphs.app depending on whether the exported font is CFF-OTF or TTF.

When an explicit "glyphOrder" custom parameter is defined, there is of course no difference, and glyphsLib also applies this (see https://github.com/googlei18n/glyphsLib/pull/108).

However, if I create an empty new font without a `glyphOrder` custom parameter, and then clic

[2017-02-08 12:59] anthrotype opened #112 "default value for fsType (font embedding)"
The OS/2.fsType specifies the font embedding licensing rights for the font:
https://www.microsoft.com/typography/otspec/os2.htm#fst

I noticed that when exporting a font without an explicit `fsType` custom parameter from Glyphs.app, the default value of fsType is `<fsType value="00000000 00001000"/>`, that is Bit 3 or 0x0008, **Editable embedding**.

When generating the font with fontmake the defa

[2017-02-08 20:50] schriftgestalt commented on #111
I can confirm this. There is a (outdated) recommendation somewhere that stated that the first four glyphs should be .notdef, null, CR and space in TrueType fonts. A lot people think that is a requirement and ask for it. There was even a bug in Pages that would place GID 1 next to page numbers with CFF fonts as they expected it to be nonprinting.

If you have null (or NULL or .null) and CR, those w

[2017-02-08 21:50] anthrotype commented on #111
Thanks for the confirmation.

I'm not sure what the right thing to do for glyphsLib is, since the output here is a UFO, not (yet) a TTF or a CFF.

If we reorder the four glyphs in the UFO but then produce a CFF from it, the default order won't match Glyphs.app (which doesn't reorder when the output is CFF). If we don't reorder the glyphs in the UFO and generate a TTF, it will have a different orde

[2017-02-08 22:04] schriftgestalt commented on #111
The 'space/null/CR' are also reordered when you have a `glyphOrder`, unless you have a custom parameter that explicitly prohibits it. There are two options: `TrueType Keep GlyphOrder` and `DisableAllAutomaticBehaviour`. Both are not widely publicised, yet.

[2017-02-10 12:48] brawer opened #113 "Keep instance ordering as in Glyphs source"
In https://github.com/googlei18n/fontmake/issues/188, @aaronbell reported a glyphsLib problem:

[2017-02-11 17:32] anthrotype opened #114 "should not distinguish between float and int in custom parameters"
glyphsLib currently raises ValueError while parsing custom parameters that usually should be integers but are stored as floats in the glyphs source file.

quoting @schriftgestalt  https://github.com/googlei18n/glyphsLib/pull/110#issuecomment-278892168

So we should just read all numbers as float; ufo2ft will then make sure these are rounded when generating the otf.

Related issue:
https://github.c

[2017-02-11 17:47] anthrotype opened #115 "Set width of glyphs with GDEF class 3 (mark) to zero?"
James opened a similar issue on ufo2ft repo:
https://github.com/googlei18n/ufo2ft/issues/55

I think it should be the job of glyphsLib to set the width of such mark glyphs to zero when building the UFO.

[2017-02-11 19:15] anthrotype commented on #111
See https://github.com/googlei18n/fontmake/issues/252

[2017-02-11 19:15] #111 closed

[2017-02-11 19:35] anthrotype opened #116 "support RGBA tuples for glyph colors"
it turns out that

https://github.com/googlei18n/fontmake/issues/247#issuecomment-279169487

Currently glyphsLib only supports integers for color. We should add support for tuples too.

[2017-02-13 15:13] brawer commented on #71
From a coarse glance it looks like this bug can be closed. If anyone disagrees, feel free to re-open it.

[2017-02-13 15:13] #71 closed

[2017-02-14 11:10] moyogo opened #118 "delete branch pyup-update-fonttools-3.5.0-to-3.6.0"

[2017-02-15 01:55] anthrotype opened #119 "[parser] add support for binary data values"
The glyphsLib parser should support binary data values as defined in the ASCII property list specification:

https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/PropertyLists/OldStylePlists/OldStylePLists.html

[code]

see https://github.com/googlei18n/fontmake/issues/247#issuecomment-279165940

[2017-02-16 17:36] #114 closed

[2017-02-18 01:24] #112 closed

[2017-02-18 10:27] brawer commented on #85
@anthrotype, do you have an example (test case) where we still emit different output than Glyphs? Otherwise, can we close this bug?

[2017-02-20 17:13] brawer commented on #118
Thanks for telling! Done.

[2017-02-20 17:13] #118 closed

[2017-02-21 10:30] brawer opened #124 "Support custom familyName"
See also https://github.com/googlei18n/fontmake/issues/257.

[2017-02-21 10:57] #124 closed

[2017-02-21 11:09] brawer opened #126 "Support instances with renamed glyphs"
glyphsLib should populate the `<glyphs>` element in MutatorMath instances when an instance renames glyphs. See https://github.com/googlei18n/fontmake/issues/257 for an example where the instance “Montserrat Alternates” in [Montserrat.glyphs](https://raw.githubusercontent.com/JulietaUla/Montserrat/master/sources/Montserrat.glyphs) uses a custom parameter “Rename Glyphs”.

[2017-02-21 11:40] moyogo commented on #126
... and “Remove Glyphs”. :-)

[2017-02-21 15:10] m4rc1e commented on #126
Thanks @brawer!

[2017-02-21 17:21] anthrotype opened #129 "do not generate inactive instances"
When an instance has the `is active` checkbox switched off in the font info, then Glyphs.app does not generate the instance.

In the glyphs source this corresponds to a `exports = 0` attribute in that instance's data.

glyphsLib should check and do the same, i.e. not generate instances that are flagged as inactive.

[2017-02-22 07:13] brawer commented on #129
The current code looks for an instance attribute called `active`. But at least with Glyphs 2.4, the attribute is indeed named `exports`. Fix coming.

[2017-02-22 07:41] brawer opened #131 "Use same defaults as Glyphs for underlineThickness and underlinePosition"
According to page 200 of the [Glyphs documentation](https://glyphsapp.com/content/1-get-started/2-manuals/1-handbook-glyphs-2-0/Glyphs-Handbook-2.3.pdf#page=200), Glyphs assumes specific defaults for `underlineThickness` and `underlinePosition` when these attributes are not present in the source:

The current glyphsLib code does not supply these defaults. Also, there’s currently no unit tests for

[2017-02-22 07:53] anthrotype commented on #131
There's a set_default_params function in the builder module now which can be used for this sort of things.

[2017-02-22 10:25] brawer commented on #113
There’s now a test case in https://github.com/googlei18n/glyphsLib/commit/f3612de48aadb2691f51b3271776aaa704063182 but I still can’t reproduce the bug report (and the test is passing fine). Please re-open this bug if I’m missing something.

[2017-02-22 10:25] #113 closed

[2017-02-22 14:48] #129 closed

[2017-02-22 15:01] brawer commented on #126
My initial approach (emitting a MutatorMath file with muted and renamed glyphs) didn’t work for composite glyphs. Probably this needs to be done in a post-processing step.

* If the post-processing happened in glyphsLib, the post-processing would need to be done on UFOs. In that case, the resulting UFOs would reflect the design intent of the original glyphs source more accurately. This might be us

[2017-02-22 16:14] brawer commented on #126
A good place for post-processing might be `apply_instance_data` in [Lib/glyphsLib/interpolation.py](https://github.com/googlei18n/glyphsLib/blob/master/Lib/glyphsLib/interpolation.py#L191).

[2017-02-22 19:38] zjusbo commented on #131
Resolved.

[2017-02-22 19:38] #131 closed

[2017-02-24 13:24] anthrotype opened #134 "Crash if "date" is an empty string, or field is missing"
A friend reported that glyphsLib can crash when loading a .glyphs source files that contain an empty `"date"` field, though he said he doesn't know how the .glyphs file ended up in that state:

[code]

Loading this leads to `ValueError` when attempting to split the date string:
[code]

Another weird thing happens when one opens this file in Glyphs.app and then saves it again.
Glyphs.app seems to l

[2017-02-24 17:33] marekjez86 opened #135 "not using weightClass custom parameter when setting the generated ufo.info.openTypeOS2WeightClass"
this is a glyphsLib version of https://github.com/googlei18n/fontmake/issues/224

which had the following comment:
"as @moyogo explained in https://github.com/googlei18n/fontmake/issues/224#issuecomment-269011274 , it looks like this is glyphsLib issue (not using weightClass custom parameter when setting the generated ufo.info.openTypeOS2WeightClass), so it should be re-opened under https://github

[2017-02-24 17:35] anthrotype commented on #135
Sascha fixed it with https://github.com/googlei18n/glyphsLib/commit/66f9885fe56a2e4f739157a8615374c006728553

[2017-02-24 22:26] schriftgestalt opened #136 "Class Tree branch"
I just pushed my attempt to implement proper classes instead of using a dict to represent the data in the .glyphs file.

I did already a bit more as I added some logic that makes it behave a bit more than the GlyphApp python API. One use case of this is that one could use the builder inside of Glyphs.

It needs a lot of cleanup, still ;)

Can you please have a look at and comment on the changes? T

[2017-02-25 12:04] schriftgestalt opened #137 "performance"
This is more an observation than an issue. I found that when building an .ufo, more than half the time is spend in `postNotification()` of the defcon objects. Maybe you find a way to disable it when not needed (only post the notification when there is at least one observer??).

[2017-02-25 12:37] #134 closed

[2017-02-25 12:40] anthrotype commented on #137
yep, that's a known issue:
https://github.com/typesupply/defcon/issues/79#issuecomment-239960319

[2017-02-25 13:02] anthrotype commented on #135
The patch is still only in glyphsLib master and not yet released.
Let's keep this issue open until we have tagged a new glyphsLib release and bumped fontmake's requirements.

[2017-02-25 13:47] anthrotype commented on #89
this looks more like a fonttools' feaLib issue than a glyphsLib one

[2017-02-25 16:49] anthrotype commented on #89
it could also be related to ufo2ft `markFeatureWriter.py`, which is what adds the `UseMarkFilteringSet` lookup flags in features.fea, which then feaLib compiles into the `MarkGlyphSetsDef` tables:

https://github.com/googlei18n/ufo2ft/issues/52
https://github.com/googlei18n/ufo2ft/pull/57

[2017-02-25 22:38] anthrotype commented on #136
Thanks Georg for working on this. It's a huge patch, it'll take some time to review! :)

This sounds interesting. Can you provide an example of that would work?

[2017-02-26 07:12] schriftgestalt commented on #136
I tried to split it into smaller commits...

One could, instead of importing 'classes.py' rely on the apps API. Import the builder and use it to write an UFO, or variation font.

[2017-02-26 16:10] brawer opened #139 "Use correct width and weight for converted masters"
When converting *.glyphs to *.ufo, glyphsLib sometimes exports design masters under the wrong name and weight class.

For example, the master for the Black weight in [NotoSansArabic-mm.glyphs](https://github.com/googlei18n/noto-source/raw/master/src/NotoSansArabic-MM.glyphs) currently gets exported as “Bold” with OS/2 weight class 700, although the exported letterforms are really those of the Blac

[2017-02-26 16:21] schriftgestalt commented on #139
We spoke about that a few times. Masters are not supposed to be exported. That's what the instances are for. The weight and width settings are only there to define the icons in the toolbar.
So even for single master fonts, you need to look at the instances. There you find proper style name and weight and width settings. And there could be several instances with different settings in the custom par

[2017-02-27 13:41] anthrotype commented on #89
this issue should be fixed in fonttools master (#863). We shall close it as soon as we tag a new fonttools release and bump the minimum requirements in glyphsLib.

[2017-02-27 17:15] m4rc1e commented on #136
Thanks Georg!,

I love this. 'll be porting some of my scripts so I can run them from the cmdline.

I'll add some issues if I come across them.

[2017-02-27 17:42] m4rc1e commented on #136
When installing this branch as a dependency for fontmake. We get this traceback when we execute [run.sh](https://github.com/googlei18n/fontmake/blob/master/test/run.sh)

[code]

[2017-02-27 17:57] schriftgestalt commented on #136
I didn’t run the full tests, yet. I’ll have a look, soon.

This is what I tested with.
[code]

[2017-03-01 22:28] graphicore opened #141 "[glyphdata] glyphdata.get_glyph sometimes returns multiple chars for `unicode` when `name` implies a ligature"
Here's an example:

[code]

The `unicode` value comes from  [the call to `agl.toUnicode(prodname`](https://github.com/googlei18n/glyphsLib/blob/master/Lib/glyphsLib/glyphdata.py#L37)

[code]

`agl.toUnicode` splits the string on `_` and maps each component to the result string.

I did expect as result a unicode string with a length of 1 or `None`. So that I can do `ord(result.unicode)` if unicode

[2017-03-01 22:31] graphicore commented on #141
Possible fix: a2860d4

[2017-03-01 22:35] anthrotype commented on #141
Well, that's the intended behaviour.
See https://github.com/googlei18n/glyphsLib/blob/master/tests/glyphdata_test.py#L46

[2017-03-01 22:42] anthrotype commented on #141
you should be careful when you get `len()` of a unicode string, as on "narrow" Python builds (i.e. only supporting UCS-2, like the official Windows and macOS python2.7 builds) internally anything outside the Basic Multilingual Plane is represented with a surrogate pair, so it will count as 2.

you can steal this trick I used for the `fontTools.subset` module:
https://github.com/fonttools/fonttools

[2017-03-01 22:44] anthrotype commented on #141
and instead of using `ord()` which is also limited to BMP in narrow python builds, you can use `byteord` function from `fontTools.misc.py23` which handles all unicode characters up to 0x10FFFF inclusive.

[2017-03-01 22:45] graphicore commented on #141
Hmm, ok. I guess I don't get the purpose then. What is that result `self.assertEqual(uni("o_f_f_i.foo"), "offi")` good for? I suggest the test is flawd.

...

This unicode stuff is FUBAR in python.

[2017-03-01 22:46] graphicore commented on #141
Thanks for the tips anyways.

[2017-03-01 22:54] anthrotype commented on #141
you mean, "unicode stuff is FUBAR in Python **2**".

⌛️  https://pythonclock.org/

[2017-03-01 22:55] graphicore commented on #141
Today @brawer closed an issue https://github.com/schriftgestalt/GlyphsInfo/issues/10

He wrote:

So, this code is not used, only tested and it may be not needed for GlyphsLib after all.

[2017-03-01 22:57] anthrotype commented on #141
A ligature glyph such as "T_h" does not have single unicode codepoint as it's not a single character, but indeed it's a ligature, a sequence of multiple characters.

Calling the attribute `unistr` instead of `unicode` could make this clear maybe.

[2017-03-01 23:11] graphicore commented on #141
But the use case seems to be to give a glyph with the name "T_h" a unicode or not, if there is None.

See, `f_i` is encoded in Unicode and there's a good test case:

[code]

Then there is `s_t` which is not encoded in Unicode
[code]

Note that:
[code]

It's getting its None value because it is explicitly in GlyphData.xml but without a `unicode` attribute.
https://github.com/googlei18n/glyphsLib/bl

[2017-03-02 00:04] anthrotype commented on #141
no it isn't. `fi` (without underscore) would be. Underscore denotes a ligature in the Adobe Glyph List Specification:
https://github.com/adobe-type-tools/agl-specification

It's true, the `get_glyph("...").unicode` attribute is currently not being used internally by glyphsLib, because Glyphs.app already stores the unicode codepoint for each glyph in the source file (using GlyphsData.xml).

I think

[2017-03-02 01:30] graphicore commented on #141
I can do. However, I'm just beginning to wonder if using that `agl.toUnicode` function is a good idea at all.

See this example (from a google-fonts list with glyph names for Glyphs that we intend to use):

[code]

What's probably meant with the glyph name "Omega.sups" is a superscript version of the Unicode character `03a9; GREEK CAPITAL LETTER OMEGA` However, returned was the Unicode character `

[2017-03-02 06:33] schriftgestalt commented on #141
In almost all cases, glyphs with a dot suffix do not have a Unicode. There are some exceptions with glyphs that are mostly used in Japanese CID keyed fonts.

[2017-03-02 09:48] anthrotype commented on #141
The `agl.toUnicode` function currently only implements the [Adobe Glyph List for New Fonts 1.7](https://github.com/adobe-type-tools/agl-aglfn/blob/master/aglfn.txt).

The names for the glyphs that represent *both* Greek letters and math symbols -- "Delta", "Omega" and "mu" -- have had a tormented history in AGLFN. In version 1.5, they changed meaning from being the math symbols to being the Greek

[2017-03-06 13:57] brawer commented on #141
So if nobody is using this `unicode` method and the intended semantics is unclear, why don’t we just remove it altogether?

[2017-03-06 14:19] anthrotype commented on #141
because some people may be interested in using glyphsLib as an API to query the GlyphsData.xml, and the latter does contain `unicode` attributes.

The semantics seems clear to me: it's the Unicode codepoint (integer in range 0...0x10FFFF) that gets assigned to a named glyph in the generated ``cmap`` table.
It's just that our current way of deriving this unicode codepoint from the production name a

[2017-03-06 14:29] brawer commented on #141
Actually, the current generation script enforces that the returned results are identical to the contents of GlyphsData.xml. So this debate seems to be about what to do for glyphs that are _not_ in GlyphsData.xml. Well, what exact behavior do people want to see there?

[2017-03-06 14:30] anthrotype commented on #141
True. I guess the behaviour in this case is ... `KeyError`?
But how do we know if a glyph is or is not in the GlyphsData.xml if we don't store all the entries?

[2017-03-06 14:39] brawer commented on #141
And we’d change the callers to catch the `KeyError`, and implement some heuristics on their own if it happens? (Eg. fontmake should compile any input that Glyphs.app can take, including files with glyphs not in GlyphsData.xml). Sounds ugly, but if there’s a need for knowing whether a glyph is defined by GlyphsData.xml, it can be done. Is there really such a need?

[2017-03-06 14:41] anthrotype commented on #141
ok, maybe not keyerror, but some sensible default, with properties that can't be derived from the name itself set to None.

We currently store in `glyphdata_generated.py` only the glyphs that have a production name, and when that is different from their 'nice' name.

So in get_glyph we could check if the requested glyph is in `PRODUCTION_NAMES` or if it is in AGLFN, else we can be sure it is not i

[2017-03-06 14:46] anthrotype commented on #141
also, I suggest we set the `unicode` attribute to an `int` instead of a (unicode) `str`. GlyphsData.xml map glyph names to a single a single unicode character, not a string. Treating it as an int would also be more in tune with how `unicode` attribute works elsewhere (e.g. robofab, defcon, etc.).

[2017-03-06 15:03] graphicore commented on #141
My case is currently testing "Filter Lists" that we define for our google fonts encodings. These filter lists have only Glyphs glyph names, some use "production names" some use "friendly names". The designers use these to get started with their projects in Glyphs, copying and pasting these names. Then there is the actual "glyph sets" (technically rather "char sets") which define a bunch of unicode

[2017-03-07 17:16] moyogo commented on #136
@schriftgestalt I started cleaning up in https://github.com/googlei18n/glyphslib/compare/Class_tree_new...moyogo:classtree-cleanup. Now the tests pass but there are still things to fix.

[2017-03-08 09:28] schriftgestalt commented on #136
I added some comments but could you send a pull request? Thanks.

[2017-03-08 09:33] anthrotype opened #144 "support alignment attribute of components"
Components in .glyphs source files may contain an `alignment` attribute.

There's no mention about this in the [GlyphsFileFormat.md](https://github.com/schriftgestalt/GlyphsSDK/blob/master/GlyphsFileFormat.md) specification.

In my observations, it can take a value of `1` or `-1`; and I suppose that when the attribute is missing the value is `0`?

I am not sure what these values do, and how a user

[2017-03-08 09:36] schriftgestalt commented on #144
This is used for the automatic alignment of components. -1 means no alignment and 1 means 'force' alignment for glyphs that would normally not align. This replaced the `disableAlignment` field. I’ll update the spec.

[2017-03-08 09:49] schriftgestalt commented on #144
I’ll add it to 'classes.py'

[2017-03-08 09:49] schriftgestalt commented on #144
It is already there ;)

[2017-03-10 01:14] behdad opened #148 ".fea syntax now allows dashes in glyph names"
@brawer is this implemented in feaLib already?

We should confirm that, then remove the "Illegal glyph name..." warning from glyphsLib, and remove the code that changes them to underscore.

[2017-03-10 01:16] behdad commented on #148
Actually, maybe this is fixed already?

[2017-03-10 08:45] brawer commented on #148
Yes, this was removed from glyphsLib in https://github.com/googlei18n/glyphsLib/commit/c283d6ec4d7d9898489915d325e2925b8a33b542. See https://github.com/googlei18n/fontmake/issues/249 for background.

[2017-03-10 08:45] #148 closed

[2017-03-10 09:30] anthrotype commented on #148
yes, feaLib supports hyphens in glyph names since fonttools>=3.7.0

[2017-03-14 18:17] anthrotype commented on #115
on second thought... I we use glyphsLib to generate UFO source files and we wish to be able to recreate the original .glyphs source back from them, maybe this zeroing-out of mark glyph advance widths/heights should not happen in here. Those generated UFOs may be considered source files to be further edited in another font editor, rather than simply a temporary byproduct of fontmake for the sake of

[2017-03-14 18:17] anthrotype commented on #115
/cc @punchcutter (who said was working on a PR)

[2017-03-14 18:40] punchcutter commented on #115
Aha, I see your point about dealing with the zeroing in ufo2ft. Even then it's possible that we don't want to zero. We also need to make sure we check the Glyphs custom parameter DisableAllAutomaticBehaviour before we do it.

[2017-03-14 18:53] anthrotype commented on #115
I wonder, is there a specific custom parameter to disable this behaviour (i.e. zeroing out the advances of combining mark glyphs) as opposed to the general `DisableAllAutomaticBehaviour` one?

/cc @schriftgestalt

[2017-03-14 19:49] schriftgestalt commented on #115
There is no custom parameter. It sets all marks with `subCategory == "Nonspacing"` to zero. If you need a spacing mark that still attaches, the subCategory needs to be set to `Spacing Combining`.

[2017-03-14 19:55] schriftgestalt commented on #115
About the zeroing: I suspect that most people dealing with .ufo would expect the width of nonspacing marks set to zero. Last time I checked, other tools could not to the zeroing on export automatically. So doing it in the glyphsLib would make it easier to export the files. I don't expect to many people use glyphsLib to write .ufos and then like them to import back to Glyphs. That could be done wit

[2017-03-14 20:07] anthrotype commented on #115
I like the idea of storing the original width in a private key inside the UFO glyph's `lib` for the sake of roundtripping.
What about `com.schriftgestaltung.originalWidth`?

[2017-03-14 23:28] schriftgestalt commented on #115
Sounds good. One problem with this. What happens if the user changes the width in the UFO? Maybe only apply the value when the width is zero?

[2017-03-14 23:43] khaledhosny commented on #115
I think may be we are overthinking it? Just zero the width and be done with it (for some OpenType implementations, e.g. MS’s and HarfBuzz it does not really matter most of time as any glyph with GDEF mark class will be zerod by the engine). If it is really necessary the reverse can be done in the future UFO to Glyphs converter as even regular UFO’s will benefit from such treatment.

[2017-03-15 06:47] schriftgestalt commented on #115
I agree but and automatic expanding of metrics is a bit dangerous, too. It might shift the placement of some components.

[2017-03-20 10:09] #135 closed

[2017-03-20 10:11] #89 closed

[2017-03-20 18:17] anthrotype commented on #136
I've spent all day reviewing the code in `Class_tree_new` branch. I have to say this doesn't look like a patch to me, but rather a complete rewrite. I find quite hard even to start discussing about it... The changes are simply *too many*.

The problem is not simply to make the few tests pass. It's about designing an interface which we're comfortable working with. And implementing that in a way tha

[2017-03-20 21:29] schriftgestalt commented on #136
I understand your concern. But if you look at the builder, the code can be much cleaner already.

The code in classes.py needs some clean up and my coding style might be a bit unpytonic. And there are some workaround that will be removed once the wrapper is finished (proper getter/setter for all properties).

Lets have a look at it together.

[2017-03-21 19:37] anthrotype opened #153 "support vertWidth attribute for glyph vertical advances"
A glyph data can contain a `vertWidth` attribute, if that is other than the default ascender+descender:
https://github.com/schriftgestalt/GlyphsSDK/blob/master/GlyphsFileFormat.md

This value should be stored as UFO glif `height` attribute:
http://unifiedfontobject.org/versions/ufo3/glyphs/glif/

[2017-03-22 10:54] #115 closed

[2017-03-22 12:41] anthrotype commented on #144
https://github.com/schriftgestalt/GlyphsSDK/commit/539a7de0f955d77665e21291ecf9f4c4af030d7d

so is there an implied `0` value as well? If so, what would it mean?

Is there anything glyphsLib needs to do when building UFOs, or is this something that only affects the user interaction when working in Glyphs.app (e.g. user cannot drag a component with the cursor, etc.)?

[2017-03-22 14:21] anthrotype commented on #119
According to the above mentioned "OldStylePList" specification, the NSData enclosed in angle brackets should be encoded as "hexadecimal ASCII", however when I set some `userData` from within Glyphs.app and save the .glyphs file, I don't get hexadecimal ASCII, but a *base64-encoded* string:

[code]

[2017-03-22 14:41] anthrotype commented on #119
I suppose that the .glyphs format can no longer be considered equivalent to NeXTSTEP ascii plist.
So the glyphsLib parser should follow whatever Glyphs.app does; in this case, encode/decode strings enclosed in angle brackets as base64 rather than hexadecimal.

[2017-03-22 16:45] anthrotype commented on #119
Oh jeez... :man_facepalming:

It turns out that a `userData` attribute (a dict with arbitrary used defined content) can be contained, not just in a font, font master, glyph and layer (where it is encoded as Base64), but also inside a node. However, *in this case only* an NSData value will be encoded as *hexadecimal* string instead of Base64.

[code]

This is what you get in the .glyphs source:
[co

[2017-03-22 19:45] schriftgestalt commented on #119
Sorry for the mess. I’m cleaning it up right now and make it stick to the spec. That means at some point it will stick write correct plist. Do you have files that actually have <data> in the userData?

[2017-03-22 20:32] schriftgestalt commented on #144
I think you can ignore the alignment value. It is only relevant when something changes, like the width of a letter or a position of an anchor.

And `alignment = 0` means alignment for Letters and marks (`category == "Letter" || subCategory.beginswith("Spacing ") || subCategory == "Fraction" ||  subCategory == "Small"`) ('Small' are dnom, numr, superior, subscript)

[2017-03-23 10:51] anthrotype commented on #119
Thank you Georg!

I'm not sure about Noto fonts, but at least at DaMa we haven't used `userData` yet.
I was just trying to fix a related fontmake issue https://github.com/googlei18n/fontmake/issues/247 raised some weeks ago by Adam.

It's fine if old glyphs source files containing such incorrectly formatted userData can be fixed by re-saving them with newer Glyphs.app versions.

[2017-03-23 11:07] anthrotype commented on #144
thanks for the clarification. I think we would still like to export this `alignment` data inside a glif's `lib`, so that we can roundtrip it from going the other way around.

I'm going to keep this open until we do that.

Since the `lib` applies to the glyph as a whole instead of the single component, we would have to store it as a dictionary keyed by the component name.

[2017-03-27 13:53] adrientetar opened #157 "Let glyphsLib take a custom Font class"

[2017-03-27 14:07] schriftgestalt commented on #157
Is this related with the work started in the class-tree fork?

[2017-03-27 14:10] anthrotype commented on #157
I don't think so; it's about letting clients like TruFont pass a custom defcon Font subclass when building UFOs.

[2017-04-06 13:12] brawer opened #158 "Tag for “Custom” axis should come from Glyphs"
@schriftgestalt, could Glyphs have a user-editable property for the four-letter tag of custom design axes? Currently, glyphsLib/fontmake uses hardcoded `XXXX` for the “Custom” axis. If Glyphs users could enter a proper four-letter axis tag, glyphsLib can copy this tag into its output designspaces and we’ll have one less quirk in the font production pipeline.

![image](https://cloud.githubuserconte

[2017-04-06 23:22] schriftgestalt commented on #158
I’ll add that as we discussed earlier today.

[2017-04-11 15:37] brawer opened #165 "Instance locations are written in non-deterministic order"
Sometimes, tests are broken because instance locations seem to be written in non-deterministic order. See https://travis-ci.org/googlei18n/glyphsLib/jobs/221004107 for an example. I’m working on a fix.

[2017-04-11 15:40] brawer commented on #165
We didn’t notice before because until today, all unit tests were using single-axis fonts.

[2017-04-11 15:41] anthrotype commented on #165
good catch

[2017-04-11 15:58] #165 closed

[2017-04-11 19:57] brawer opened #167 "Support postscriptFontName attribute"
Instances in glyphs files can have an optional attribute `postscriptFontName`. If present in an input source, glyphsLib should propagate it to the output designspace file. Then, fonttools.varLib can use this for storing instance-specific postscript names in the `fvar` table. The same designspace attribute is also used by MutatorMath.

[2017-04-12 08:24] #167 closed

[2017-04-13 10:00] anthrotype opened #169 "different default locations for "custom" axis vs weight and width?"
The default values for the weight and width axes locations is 100, and this is reflected in this `DEFAULT_LOC` constant in `glyphsLib.interpolation` module:

https://github.com/googlei18n/glyphsLib/blob/4fade33cfccd5838f9e756f76ee71df040b95570/Lib/glyphsLib/interpolation.py#L34

However, for the third "Custom" axis Glyps.app uses 0 as default location, not 100.
You can see that Glyphs.app only wri

[2017-04-14 21:56] anthrotype opened #170 "hardcoded axes default locations with no "base" master break varLib"
See https://github.com/googlei18n/glyphsLib/pull/161#discussion_r111366461

we should get that value from somewhere else, possibly another custom parameter.

/cc @schriftgestalt

[2017-04-14 22:48] schriftgestalt commented on #170
I’m plaining to add a custom parameter to give more control over the axes...

[2017-04-14 22:49] #169 closed

[2017-04-17 23:28] behdad commented on #170
The default should come from whatever master gets its info attribute set to True. @brawer can you do that?

When Georg adds the custom parameter, we can use that.

[2017-04-20 09:37] brawer commented on #170
Well, current Glyphs doesn’t store axis values (in particular, the CSS weight class) on the masters; those can only be found on the instances. But I’ll see what I can do.

[2017-04-20 10:33] schriftgestalt commented on #170
Do you have a suggestion for the custom parameter keys? There will be one in the font like: `OTVar axes` and one in each master `OTVar axis positions`. Does this sound right?

[2017-04-20 10:34] schriftgestalt commented on #170
Or skip the `OTVar`. Just `Axes` and `Axis Positions`?

[2017-04-22 07:46] moyogo commented on #170
`Axes` and `Axis Positions` sound good. `Axis Location` could work as well.

[2017-04-25 14:32] anthrotype commented on #170
Maybe we should get such base master from the the new "Variation Font Origin" custom parameter? This

https://glyphsapp.com/blog/glyphs-2-4-1-released

[2017-04-25 17:27] behdad commented on #170
Location has become more widespread.

[2017-04-25 17:29] behdad commented on #170
Yes, that's the one I was talking about that I remember Georg announced at his talk.

At any rate, if that's not available, we should get location for master that is getting `<info copy="1">` set.  I understand that masters don't have location; but we are already extracting the mapping, so that argument does not make sense to me.  It's just more work to find the right number, but certainly doable.

[2017-04-25 17:42] brawer commented on #170
Sure, of course. I’m on vacation this week, but (as said before) I can look into this at some point.

[2017-04-25 17:47] behdad commented on #170
Thanks. No rush.

[2017-04-26 11:48] brawer opened #176 "Support “Variation font origin” parameter"
We should support the [Variation Font Origin](https://glyphsapp.com/blog/glyphs-2-4-1-released) parameter introduced by Glyphs 2.4.1.

[2017-04-26 11:50] brawer commented on #170
Regarding the newly added glyphsLib parameter, let’s do that in a separate change; see https://github.com/googlei18n/glyphsLib/issues/176.

[2017-04-26 12:49] #176 closed

[2017-04-27 14:11] anthrotype opened #178 "don't write redundant axis map elements when all input == output?"
Currently glyphsLib always export axis.map elements in the generated .designspace axes section, even when all the input and output values for an axis are equal.
I think this is redundant, as the the DesignSpaceDocument spec says that when no map elements are present for an axis, it's implied that input == output for the min and max locations.

[2017-04-27 14:13] anthrotype commented on #178
for the sake of varLib, it doesn't make any difference whether axis has no mapping or it has one where all key/value are the same. In both cases, no avar is generated.

[2017-04-28 10:14] anthrotype commented on #139
It's not just the *master* UFOs which have incorrect weight and width class assigned, but also, and most worryingly the *instance* UFOs which are derived from them.

Let me recap the issue here:

1) font masters in Glyphs.app do not have meaningful OS/2 weight and width classes assigned to them; only instances do.

2) All instances have `weightClass` and `widthClass` properties, not to be confused

[2017-05-04 20:28] anthrotype opened #179 ""Variation Font Origin" custom parameter is ignored"
Currently glyphsLib attempts to get the "Variation Font Origin" from the global Font structure, as if it were a registered field.

https://github.com/googlei18n/glyphsLib/blob/6bcd57b/Lib/glyphsLib/builder.py#L176-L177

Instead, it should look for it inside the font-wide *custom parameters*, where it is defined, and where it is accessible from the UI in the "Font" panel, among the available custom

[2017-05-05 10:38] #179 closed

[2017-05-09 12:45] anthrotype commented on #139
I just noticed that instance UFOs generated by glyphsLib will have the `postscriptWeightName` incorrectly set.

GlyphsLib uses mutatorMath to generate instances, which in turn uses fontMath, and
`fontMath.mathInfo` module uses the `openTypeOS2WeightClass` of the masters to generate the `postscriptWeightName`; however, the former value is incorrectly set by glyphsLib as per current issue (masters i

[2017-05-10 11:07] anthrotype opened #182 "support "GASP Table" custom parameter"
Glyphs.app has a "GASP Table" custom parameter:

https://glyphsapp.com/downloads/handbook/Glyphs-Handbook-2.3.pdf (page 186)

We should export that in the form of UFO3 `openTypeGaspRangeRecords` in `fontinfo.plist`, so that ufo2ft can make a `gasp` table from them.

[2017-05-12 00:24] khaledhosny opened #184 "AttributeError: 'NoneType' object has no attribute 'groups'"
Trying to convert `Cairo_V2.glyphs` file from https://github.com/Gue3bara/Cairo causes the following error:
[code]

[2017-05-15 10:29] #182 closed

[2017-05-16 12:51] schriftgestalt commented on #170
I just added the mentioned parameters. The structure is as follows:

in font.customParameters:
[code]
And for each master:
[code]
Please comment if it doesn’t fit.

[2017-05-16 13:07] brawer commented on #170
What about the axis tags for the `fvar` table? For standard registered axes like `Weight` or `Optical size`, a compiler could of course have a built-in mapping. But for custom axes like `Sonstwas`, the compiler will need a four-letter tag such as `SNSW`.

[2017-05-16 14:21] schriftgestalt commented on #170
[code]

[2017-05-18 15:25] anthrotype commented on #170
Thanks Georg for the proposal.

So to recap and make sure I understood; the main reason we need these extra font-wide and master-specific custom parameters is to build the designspace `<axes>` element that will be consumed by varLib to generate the variable font's fvar, avar, etc., or by MutatorMath to interpolate the instance UFOs.

You suggested an `Axes` font custom parameter containing a list

[2017-05-19 07:20] schriftgestalt commented on #170
I was thinking about adding a third field to hold the 'Default' axis value (right now I pick the min value).
With the next version, for variable font export, I require an 'Axes' parameter and an 'Axis Location' in each master. But could also default to the interpolation space if a value is missing.

The minimum and maximum is derived from the masters. Would it make sense to have that differently.

[2017-05-19 07:42] moyogo commented on #170
Any name ID can be localized. Multiple name record can have the same nameID and have different language IDs.

[2017-05-26 11:37] khaledhosny commented on #184
This seems to come from lines like this `"223 334 QCURVE SMOOTH",`, but the regex where the error happens does not check for `QCURVE`.

[2017-05-26 12:47] khaledhosny opened #190 "Arabic combining mark ligatures are misclassified as base glyphs"
The generated feature for Cairo_V2.glyphs from https://github.com/Gue3bara/Cairo (this depends on #189) has Arabic combining mark ligatures like `shaddaFatha-ar` and `shaddaFathatan-ar` classified as base glyphs in `GDEF` table, which breaks lookups that has `IgnoreMarks` flags. Probably related to this, their advance width is not zeroed resulting in a gap after them.

[2017-05-26 12:58] khaledhosny commented on #190
Checking `build_gdef()`, I think this because these glyphs have `top` (in addition to `_top`) and they have no entries in GlyphData.xml (there are entries for e.g. `shadda_fatha-ar` but not `shaddaFatha-ar`.

A wild guess would be that Glyphs checks for the presence of mark anchors (`_top`) first an classifies the glyph as mark based on it.

[2017-05-26 13:05] #184 closed

[2017-05-26 13:15] anthrotype commented on #190
you mean that, even if `shaddaFatha-ar` glyph is not in GlyphData.xml, Glyphs.app treats it as a combining mark for GDEF?

[2017-05-26 13:19] anthrotype commented on #190
also, even without changing the GlyphData.xml, you should be able to set custom category ("Mark") and subCategory ("Nonspacing") to selected glyphs by pressing Command-Alt-I. These will be stored in the .glyphs source file, and glyphsLib will use them for GDEF (and will zero their advance width).

[2017-05-26 13:35] khaledhosny commented on #190
Judging by the binary fonts in the repo (which I assume were generated from Glyphs), the mark ligatures all have mark GDEF class and zero advance width. @Gue3bara: can you confirm that the TTF and OTF files were generated bu Glyphs, and whether you are using a custom GlyphData.xml file or not?

That is a possibility of course (though I have no access to Glyphs myself), but if Glyphs can generate c

[2017-05-27 01:08] Gue3bara commented on #190
@khaledhosny
TTF & OTF files were generated using Glyphs and i dont use a custom GlyphData.xml

[2017-06-20 16:17] moyogo commented on #136
@schriftgestalt I started the 'classtree' branch, which is rebased. I’ll try to finish it when I have time but feel free to push to it.

[2017-06-21 21:04] schriftgestalt commented on #136
I'm still not through all your changes but it looks very good so far. Thanks. I added some small comments here and there.

[2017-06-22 00:04] punchcutter commented on #116
Just ran into this with a Glyphs file that was originally converted from FontLab. All colors that were set in FontLab came in as RGBA tuples. So casting fails which means everything fails. @schriftgestalt Too bad the Glyphs format doesn't only store RGBA tuples because the integers are really just pointers to an RGBA value anyway. Seems a bit ugly to allow both integers and tuples to be stored in

[2017-06-22 06:54] schriftgestalt commented on #116
There is no proper way of converting fls or Robofont colors into the Glyphs color indexes. And people might like to store custom colors. On the other hand, custom colors might be stored in a custom parameter (public.color) like when imported from UFO.
For now, 'color' can have both. I'll have a look at the parser.

[2017-07-30 16:23] madig commented on #139
What exactly is keeping glyphslib from just using the instance's value instead of the master?

[2017-08-04 15:43] anthrotype opened #200 "styleMapFamilyName incorrectly if style name contains "Bold""
as reported in https://github.com/googlei18n/fontmake/issues/209#issuecomment-320113351

The current styleMapFamilyName generation logic is here:
https://github.com/googlei18n/glyphsLib/blob/e3bae79/Lib/glyphsLib/builder.py#L353-L362

[2017-08-08 11:45] moyogo commented on #136
I’ll open a PR so we can start reviewing the branch.

[2017-08-11 18:48] anthrotype commented on #200
Instances have isBold, isItalic and linkStyle properties which we should use to generate the styleMapFamilyName and styleMapStyleName attributes of generated instance UFOs.

Mapping the styleMapStyleName to the four state isBold/isItalic checkboxes is trivial.
However it's not quite clear to me how the styleMapFamilyName (that is, the nameID=1 for Windows platform) is generated by Glyphs.app, or h

[2017-08-15 09:53] anthrotype opened #205 "Support "Reencode Glyphs" custom parameter"
From the Glyphs Handbook (p. 194):

**Reencode Glyphs** *list* Takes a comma-separated list of ‘glyphname=unicodevalue’ pairs, e.g., ‘smiley=E100, logo=E101’. The parameter assigns the Unicode value to the glyph with the speci ed name at export. Should the Unicode value in question already be assigned to another glyph, the Unicode value of that other glyph will be deleted, but all production names

[2017-08-15 16:02] m4rc1e commented on #200
@anthrotype I did some digging around on this today.

I think Glyphs generates Win name records (platformID 3, EncodingID, 1, LanguageID, 1033) in the manner described in the Ms Spec for NameIDs code 1, https://www.microsoft.com/typography/otspec/name.htm#nameIDs

Here's the name table of [Montserrat](https://github.com/JulietaUla/Montserrat) which was generated from Glyphs.

**Montserrat-Regular.

[2017-08-15 17:15] #200 closed

[2017-08-15 17:43] anthrotype commented on #139
Most of the issues I raised here should be addressed by #202, except for the issue about defining axes user locations from the instances' `weightClass` and `widthClass` properties (rather than the homonymous custom parameters).

About @brawer's suggestion that, when generating master UFOs, glyphsLib should look at the instances with the same interpolation location as the master to define the maste

[2017-08-16 12:48] anthrotype opened #206 "propagated anchors are appended in random order in python3"
we need to add a `sorted()` here

https://github.com/googlei18n/glyphsLib/blob/4b40d7f/Lib/glyphsLib/anchors.py#L61

[2017-08-16 14:11] #206 closed

[2017-08-17 16:52] anthrotype commented on #178
Also, don't write redundant axes to the designspace, e.g.

[code]

[2017-08-21 17:44] punchcutter commented on #91
At the moment glyphsLib will read smart components as if they were regular components without any of the smartness. It would be nice to have a warning because right now there is no error or warning and what gets generated is not what Glyphs outputs. As far as I can tell we just need to check if the component has a 'piece' attribute. If not then it's either not a smart component or the settings are

[2017-08-23 17:46] dougfelt opened #209 "glyphsLib treats some quoted values as numeric"
The glyphsLib parsing/casting code treats some values as numeric although they are stored in (at least some versions of, e.g. appVersion 998) .glyphs files as quoted strings.  These are:

appVersion
panose values in list
weightClass value

Believing they are numeric, glyphsLib writes these values out without quotes.

This difference in representation means glyphsLib cannot read and then write file

[2017-09-01 11:16] anthrotype commented on #209
Let me summarise what I've understood so far from the discussion at https://github.com/googlei18n/noto-source/pull/85.

It would be great if Georg (@schriftgestalt) could find some spare time to comment on each of these points.

There seems to be two kinds of custom parameters: the built-in ones which are supported by Glyphs.app and whose type (whether string or numeric) is known, and arbitrary on

[2017-09-04 10:43] anthrotype commented on #119
@schriftgestalt I'm still seeing the same issue with the latest Glyphs.app version 2.4.2 (1059).

`userData` is written as a base64 encoded string rather than as hexadecimal ASCII; except for the `customNodeUserData` inside a node's quoted string value, where hexadecimal notation is used.

Also, the newline is written as `\n` in the latter, whereas e.g. in the features code string it's written as

[2017-09-04 10:58] anthrotype opened #214 "also write PreFilter custom parameters to ufo lib"
same as `Filter`, but applied before decomposition of composite glyphs

related issues:
https://github.com/googlei18n/noto-source/issues/84
https://github.com/googlei18n/fontmake/issues/275
https://github.com/googlei18n/ufo2ft/issues/120

[2017-09-04 12:32] schriftgestalt commented on #119
I didn’t like to add that change in the 2.4 version. It will be in 2.5.

[2017-09-04 12:38] anthrotype commented on #119
makes sense. Please let us know when you push that out, thanks

[2017-09-06 07:14] schriftgestalt opened #216 "Double unicodes"
One other change coming with 2.5 is the support for more then one unicode per glyph. It is stored in the file like this:
[code]
(I first tried to skip the quotes, too. But neither Apples code nor the glyphslib parser liked it ;)

Internally, this is handled by two properties. One called `unicode` and it returns the first unicode if any. Then there is a `unicodes` property as an NSOrderedSet.

I th

[2017-09-06 09:57] anthrotype commented on #216
I would argue that even for a single unicode value there should be quotes, in order to disambiguate the hexadecimal representation of unicode values from similar (unquoted) decimal numbers (e.g. `1234` can be interpreted both as an hexadecimal string and as a decimal number).
You said elsewhere that you use quotes to make clear that a string that's only composed of digits is actually a string and

[2017-09-06 10:36] brawer commented on #216
Just to clarify, is this new mechanism intended for glyphs that are shared by multiple codepoints, for example `unicode = "0071,0430"` for an `a` glyph that is identical for U+0061 and U+0430? Whereas this mechanism is explicitly not for glyphs that correspond to some _sequence_ of Unicode codepoints, such as a `c_t` ligature glyph for U+0064 followed by U+0074?

[2017-09-06 10:39] anthrotype commented on #216
I believe it's the former, like in the UFO spec.

[2017-09-06 10:43] schriftgestalt commented on #216
It is intended for double encoding one glyph, not for a sequence.

But I also said that the unicode property is an exception and doesn’t need quotes.

[2017-09-06 11:06] anthrotype commented on #216
yeah.. my point was just that exceptions like this only make life more complicated.

The old-style plist format already can't distinguish between strings, numbers or boolean types: e.g. `value = 1` could be equally parsed as any three of them (that is, without contextual knowledge of the type associated with a particular attribute).

Using a consistent quoting scheme would allow at least to distin

[2017-09-06 13:30] dougfelt commented on #216
Personally, I really don't see that it's necessary in the glyphs file to
represent in any way the type of the value.  The type is wholly determined
by the use Glyphs makes of it. The location and keyword are sufficient to
identify the type of the value.  All that's necessary in the Glyphs file is
that tokenization be unambiguous.

On Sep 6, 2017 4:06 AM, "Cosimo Lupo" <notifications@github.com> wr

[2017-09-06 13:35] schriftgestalt commented on #216
+1

There are some places where the preservation of type matters. That is mostly the userData and some of the customParameters.

[2017-09-12 09:15] jenskutilek commented on #115
It seems the variants of nonspacing marks are not processed by this logic. E.g. dieresiscomb is renamed to uni0308 and its width is set to 0, but dieresiscomb.case keeps its name and width.

This will lead to an extra space after composed letters on macOS, cf. https://github.com/jenskutilek/FiraSystemFontReplacement/issues/49

[2017-09-12 14:49] anthrotype commented on #158
Glyphs have an "Axes" custom parameter (a font-wide parameter) now to specify new axes names and tags. We should support this.

[code]

There's also "Axis Location" (a master custom parameter) to define the (user-space?) location of each master along the various axes. It looks like this:

[code]

[2017-09-12 15:25] jenskutilek commented on #190
I agree, it seems like glyphsLib doesn’t apply the same rules as GlyphsApp regarding which glyphs are marks and should be set to zero width. Related: https://github.com/googlei18n/glyphsLib/issues/115#issuecomment-328793479

[2017-09-12 16:19] anthrotype commented on #115
@jenskutilek glyphsLib simply applies the rules from the GlyphsData.xml. If a glyph name is marked with category "Mark" and subCategory "Nonspacing", then it sets the width to 0.
The glyph "dieresiscomb" is in that list, whereas "dieresiscomb.case" is not.

Can you confirm, does Glyphs.app automatically set the width of dieresiscomb.case to 0?

You can also override/extend the definitions from the

[2017-09-12 16:47] jenskutilek commented on #115
Yes, I can confirm, that Glyphs.app sets all `.case` glyphs related to the main combining diacritics to 0 advance width. E.g. `dieresiscomb.case`. But other related variants keep their widths, such as `dieresiscomb.sc`.

@schriftgestalt, maybe you can clarify?

In addition to setting the width to 0, the outlines are also moved to the left, so the former RSB is now negative. But I think it’s not ne

[2017-09-13 02:06] schriftgestalt commented on #115
That the .sc accents are not set to zero width is a mistake. The others are correct and are controlled by the subCategory="NonSpacing". (that is actually the problem with the .sc as it gets a subcategory of "Smallcap".

[2017-09-13 02:25] anthrotype commented on #115
I don't understand.. I only see "dieresiscomb" in the GlyphData.xml. What's exactly the logic with `.<suffix>` glyph names? Do they all inherit the category/subCategory of their base glyph (i.e. without the suffix)?

[2017-09-13 02:28] schriftgestalt commented on #115
There is an algorithm that tries to get glyphData for Glyphs with suffixes and ligatures.

[2017-09-21 23:53] punchcutter opened #223 "kern vs dist does not match Glyphs output"
Kerning on most Indic scripts is put into the dist feature on export, but when exporting a UFO either from Glyphs directly or using glyphsLib all kerning is placed in the kerning.plist. When exporting OTF/TTF from Glyphs the kerning is split so that LGC kerning is put in the kern feature and Indic kerning is put in the dist feature.

@schriftgestalt Is it all (only) Indic scripts that get dist? An

[2017-09-22 00:07] punchcutter commented on #223
In Glyphs custom code (like contextual GPOS) for each instance can be added with the 'Replace Feature' custom parameter so first we need that to work in glyphsLib which is what this pull request does: https://github.com/googlei18n/glyphsLib/pull/222.

When exporting from Glyphs with a 'Replace Feature' containing dist code (for Indic scripts) Glyphs adds two dist features, one from the kerning and

[2017-09-27 18:08] anthrotype commented on #223
I'd also like to know how this works.
Maybe the generation of such `dist` feature should be the job of ufo2ft, perhaps extending the current KernFeatureWriter (/cc moyogo).

[2017-09-27 18:50] schriftgestalt commented on #223
I fixed the duplicate dist feature already. And added support for abvm and blwm.

[2017-09-27 18:50] punchcutter commented on #223
I was also thinking maybe it should be handled elsewhere, but glyphsLib is what pulls the kern info from the source so it seems like it should be split into kern/dist there to match what Glyphs does. builder.py is also where the features.fea text is getting created so if we just split the features here then that would be simple.

[2017-09-27 18:52] punchcutter commented on #223
Well, if the duplicate dist feature is fixed in Glyphs then that's another thing to check here. If we do split the kern/dist in glyphsLib AND there is a Replace Feature for dist then I think merging them here in builder makes sense.

[2017-09-27 18:53] schriftgestalt commented on #223
All kerning between glyphs that belong to Indic scripts is put into dist. I’ll have a look at the code to give a more detailed description.

[2017-09-27 19:03] punchcutter commented on #223
@schriftgestalt Yes, that's what I expected, but for unencoded glyphs or something with a name not in the GlyphData.xml what happens? I assume that doesn't get in dist if it can't be determined what script it belongs to. For that situation maybe the best thing to do is make sure the Glyphs file has the script set correctly for each glyph?

[2017-09-28 10:20] schriftgestalt commented on #223
I have a quite strong heuristic that can find for all glyphs of interest. Cutting of suffixes and separate ligatures...

About the `kern/dist` split. All pairs that contain an Indic glyph are put in `dist`.

[2017-09-28 10:26] anthrotype commented on #223
since glyphsLib lacks such heuristic, for the time being @punchcutter could set the script manually for those unencoded glyphs using the Command+Alt+I panel.

[2017-10-02 13:26] schriftgestalt commented on #209
I already fixed the `weightClass` and `codePageRanges` data types in version 2.5.

The userData tries to keep the data type of the values you put in. The `GSDimensionPlugin.Dimensions` are just strings that happen to look like numbers. But if you set the values from a script or open an .ufo and some of the font info is stored in the userData, the type should be kept.

[2017-10-13 21:23] jvgaultney opened #230 "keys in Glyphs userData{UFO.lib{}} should be exported to root of lib.plist"
When importing a UFO, Glyphs dumps any lib.plist keys it doesn't recognize into userData{UFO.lib{}}. On manual export it then moves those back out of that subkey in to the root of lib.plist. I've confirmed that this is intentional on Glyphs's part. Examples of such keys:

- public.postscriptNames
- any custom keys (such as org.sil.altLineMetrics, org.sil.lcg.transforms)

write_ufo should follow Gl

[2017-10-16 15:33] brawer opened #232 "Implement fallback for glyphs sources that don’t follow Glyphs naming conventions"
Current glyphsLib assumes that *.glyphs sources actually use the naming conventions in GlyphsData.xml, but this is not the case for all fonts. For example, Glyphs has defined a glyph name `longlowtonecomb-nko` but the sources for Noto Sans N’Ko instead use the AGL name `uni07F0`. glyphsLib should detect this, and supply the same data for the glyph as if the font source had actually followed the Gl

[2017-10-16 18:03] #232 closed

[2017-10-16 21:26] jvgaultney opened #234 "Make anchor propagation optional"
Currently to_ufos() assumes that anchors from parent glyphs' components should be copied to the parent using propagate_font_anchors(). However useful that may be, it's not always desired. In fact, it introduces problems when you've intentionally removed certain anchors in composite glyphs. Inappropriate anchors get added, and there's no way to turn it off.

Please add an argument to to_ufos() that

[2017-10-18 13:44] jvgaultney opened #236 "'infinity' being interpreted as <real> when building lib.plist"
When using build_masters() in v2.0.0.dev0 the value 'infinity' is being written incorrectly in UFOs. For example, the following in a .glyphs file:

[code]
Is being output as

[code]
rather than

[code]

[2017-10-18 13:44] jvgaultney commented on #236
This problem is not present in v1.8

[2017-10-18 13:47] anthrotype commented on #236
this is definitely a bug, thanks for the report!

[2017-10-18 13:49] anthrotype commented on #234
I agree, we should make this optional as it may not be desirable in some workflows.

[2017-10-18 13:54] jvgaultney commented on #234
Would a pull request from me for that additional option be welcomed?

[2017-10-18 14:00] anthrotype commented on #230
@jvgaultney It makes sense. I had never seen that `UFO.lib` inside userData, as I haven't used much Glyphs.app's native UFO import/export.

So basically, we need to move all the data that's inside this "UFO.lib" dictionary from the userData, back to the UFO lib.plist.

[2017-10-18 14:04] anthrotype commented on #209
I think this should be fixed now.

[2017-10-18 14:04] #209 closed

[2017-10-18 14:06] #136 closed

[2017-10-18 14:08] #15 closed

[2017-10-18 14:09] anthrotype commented on #234
it certainly will!

[2017-10-18 14:38] anthrotype commented on #234
Fixed #237

[2017-10-18 14:38] #234 closed

[2017-10-19 12:10] m4rc1e opened #238 "Cannot load Montserrat. Failed parsing"
Hey folks,

Loading [Montserrat.glyphs](https://github.com/JulietaUla/Montserrat/tree/master/sources) using the latest commit produces the following traceback.

[code]

I'm guessing this has been introduced with the new class tree additions.

Apologies I can't delve deeper into this.

For my own tools, I use the pip releases so I'm not affected by this.

[2017-10-19 12:24] anthrotype commented on #238
thanks Marc. @belluzj could you take a look?

[2017-10-19 12:24] belluzj commented on #238
Yes

[2017-10-19 12:24] anthrotype commented on #238
thanks!

[2017-10-19 12:56] belluzj commented on #238
I fixed the crash but there might something more to do: Montserrat has some [`GSInstance::instanceInterpolations`](https://docu.glyphsapp.com/#instanceInterpolations) with coefficients that look like `NSPoint`s rather than floats, e.g.

[code]

The commit that I just added parses those values as strings, but we should probably define more precisely what are the possible values of `instanceInterpol

[2017-10-19 12:59] belluzj commented on #236
@anthrotype Should I look into this issue as well?

[2017-10-19 13:07] anthrotype commented on #236
If you can, yes, thank you

[2017-10-19 13:10] anthrotype commented on #238
/cc @schriftgestalt ?

[2017-10-19 13:55] #238 closed

[2017-10-19 13:56] m4rc1e commented on #238
Thank you for the quick turnaround here!

[2017-10-19 13:58] belluzj opened #240 "Parse `instanceInterpolations` values correctly"
Montserrat has some [`GSInstance::instanceInterpolations`](https://docu.glyphsapp.com/#instanceInterpolations) with coefficients that look like `NSPoint`s rather than floats, e.g.

[code]

The fix for #238 parses those values as strings, but we should probably define more precisely what are the possible values of `instanceInterpolations` and parse them accordingly, maybe as points.

@schriftgestal

[2017-10-19 14:06] belluzj commented on #236
@jvgaultney I can't reproduce. Would you mind sharing your input Glyphs file, or at least more context about the "public.postscriptNames" key? Is it in a userData, or customParameters?

[2017-10-19 14:11] anthrotype commented on #236
i think (but haven't tried myself) that it is originally in a UFO lib.plist, which is then imported in Glyphs.app via the native UFO import feature, then the glyphs file was saved and Victor attempted to export it back to UFO with glyphsLib.

According to what he says in https://github.com/googlei18n/glyphsLib/issues/230, it appears that upon importing UFOs, Glyphs.app temporarily moves private va

[2017-10-19 14:16] jvgaultney opened #241 "UFOLibError on write due to public.glyphOrder using unicode rather than utf-8"
When glyphsLib reads glyphOrder it then seems to store that data as unicode rather than utf-8. This makes ufo.lib fail to write public.glyphOrder: "ufoLib.UFOLibError: public.glyphOrder is not properly formatted." Was not a problem <2.0.0.dev0. I can work around the problem with this routine, though  it only illustrates the problem, and is not intended as a patch:

        neworder = []
        fo

[2017-10-19 14:21] anthrotype commented on #241
I'd say this is not a bug, but rather a feature.
The glyph names in public.glyphOrder are text, not binary data. It makes sense for them to read as `unicode` type in python 2, which is the same as `str` type in python 3.
If you want UTF-8 bytes, you encode them with the respective encoding, like you do in the example snippet.

[2017-10-19 14:22] anthrotype commented on #241
oh wait.. you're saying ufoLib raises an error? That's ufoLib's bug if it does not accept a glyphOrder list of unicode strings..

Can you paste the full traceback?

[2017-10-19 14:26] jvgaultney commented on #241
Unless it's utf-8 ufiLib complains (from what I can tell). Traceback (we wrap calls to glyphsLib within our own psfglyphs2ufo script):

[code]

[2017-10-19 14:27] belluzj commented on #236
It should definitely do something of the sort for the roundtrip.

As for this particular issue, there is already this parser test:

[code]

and I tried to add a builder test:

[code]

but both are green and the written value is a string. So I guess that the problem only happens with the specific file that @jvgaultney has tested, for reasons more obscure than what I'm able to imagine on my own :)

[2017-10-19 14:36] jvgaultney commented on #236
This seems to have been fixed, probably in pull request #227 although other problems introduced in that request kept me from verifying this fix until I'd worked around them.

[2017-10-19 14:38] anthrotype commented on #241
ouch. i prefer to fix that over at ufoLib, thanks.

[2017-10-19 14:39] anthrotype commented on #236
excellent, so can we close this?

[2017-10-19 14:40] jvgaultney commented on #236
Yes

[2017-10-19 14:41] belluzj commented on #236
Please open other issues for those

[2017-10-19 14:41] #236 closed

[2017-10-19 14:44] jvgaultney commented on #236
I did a little while ago #241 , though it seems I need to report that as an issue in ufoLib

[2017-10-19 14:46] belluzj commented on #236
Thanks :)

[2017-10-19 15:40] schriftgestalt commented on #240
That will happen when you have a `InterpolationWeightY` custom parameter in the instance. That way you get different coefficients for x and y.

[2017-10-19 15:41] schriftgestalt commented on #238
I answered that in #240.

[2017-10-19 15:49] themaddoctor opened #242 "cannot build noto with newest glyphslib"
My glyphsLib is from git 20171016 (three days ago; last time changed).
Fontmake is 1.3.0.

Traceback (most recent call last):
File "/usr/bin/fontmake", line 11, in
load_entry_point('fontmake==1.3.0', 'console_scripts', 'fontmake')()
File "/usr/lib/python2.7/site-packages/fontmake/main.py", line 183, in main
project.run_from_glyphs(glyphs_path, **args)
File "/usr/lib/python2.7/site-packages/fontmak

[2017-10-19 15:53] belluzj commented on #242
The first problem is still here, I will add a test and fix it.

The second problem has been fixed, the comparison now reads: "if int(font.appVersion) < 895:"

[2017-10-19 16:15] themaddoctor commented on #242
For the first problem, changing names.add to names.append should fix it.

On 10/19/17, belluzj <notifications@github.com> wrote:

--
Thomas Kaeding

my public key: http://pgp.mit.edu/pks/lookup?op=get&search=0x81B0FCA32599BE6F

[2017-10-19 16:17] belluzj commented on #242
Yes but I will also add a few tests because that method is not really covered: https://codecov.io/gh/googlei18n/glyphsLib/src/master/Lib/glyphsLib/classes.py#L1227

[2017-10-20 03:11] themaddoctor opened #245 "cannot build from source due to mismatched number of elements in glyph"
Using the source from 20171012, and all tools are up to date:

==== building src/gNotoSansSyriacEastern.glyphs ====
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Loading to UFOs
INFO:glyphsLib.util:Writing master_ufo/NotoSansSyriacEastern-Regular.ufo
INFO:fontmake.font_project:Interpolating master UFOs from des

[2017-10-20 08:24] anthrotype commented on #241
it turns out this is the same issue as #236, which should be fixed now. Closing

[2017-10-20 08:24] #241 closed

[2017-10-20 08:36] #242 closed

[2017-10-20 08:46] anthrotype commented on #245
The error looks like a source issue to me. Perhaps the file was the result of opening up a binary TTF in Glyphs.app and then saving it as *,glyphs file, with the features not correctly decompiled.

[2017-10-20 08:49] anthrotype commented on #245
yes, I believe the files prefixed with "g" are those for which we don't have source files but only binary fonts.

[2017-10-20 08:49] #245 closed

[2017-10-20 08:53] schriftgestalt commented on #245
The OTF parsing is sightly improved in 2.5. But complicated chaining substitutions are still a problem. We are working on a better solution but that will take some time.

[2017-10-20 13:52] m4rc1e opened #246 "Implement glyphsLib.dump()"
Since one can load data using glyphsLib.load() it would be rather nice to have glyphsLib.save()

I guess implementing this would be the equivalent of competing in 10 back to back Ironmans.

[2017-10-20 14:04] anthrotype commented on #246
we should call these `dump` and `dumps` like in the json module.

behdad added them in a commit to master but I had to revert because of merge conflicts with classtree.

https://github.com/googlei18n/glyphsLib/commit/95e9c1c13025d7b68fbf6b3414a7877e6743aba0

we shall add these back and hook them to the new writer implementation.

[2017-10-20 14:36] DavidRaymond opened #247 "com.schriftgestaltung.useNiceNames should be boolean"
com.schriftgestaltung.useNiceNames should be a boolean value in the UFO rather than integer.

So, in ufo.py, this section needs updating:

[code]
Also, for that section, Glyphs key "Disable Last Change" should be added to map to com.schriftgestaltung.disablesLastChange, and this also should be boolean in the UFO

[2017-10-20 15:00] DavidRaymond opened #248 "Infinity being interpreted as float in lib.plist public.glyphOrder"
If there is a glyph called "Infinity", it is changed to a float value of inf when the UFOs are created by glyphsLib.load_to_ufos.

The following code snippet demonstrates the problem:
[code]
outputs
[code]

[2017-10-20 15:06] belluzj commented on #248
I'm looking into it

[2017-10-20 15:07] belluzj commented on #246
I will open a PR for that

[2017-10-20 15:09] m4rc1e commented on #246
Thank you @belluzj you are a machine

[2017-10-20 16:11] belluzj commented on #247
@anthrotype @moyogo I will add this in #235

[2017-10-20 16:34] schriftgestalt commented on #246
Personally, I would move the loading/saving into the GSFont class like it is done in fonttools ‘font = TTFont(“path to file.ttf”)’.

[2017-10-20 16:50] belluzj commented on #246
Actually it looks like there is already an API like you describe in GSFont

[2017-10-20 16:55] DavidRaymond commented on #247
@belluzj Thanks for looking at this quickly.  Noticed in your fix, it also needs to covert disablesLastchange to boolean.

[2017-10-20 16:55] schriftgestalt commented on #246
Yes. And thats why I would remove the load/save from the lib.

[2017-10-20 17:10] belluzj commented on #247
Thanks; actually it was included in the fix, because I added the field name to the list of "_CUSTOM_BOOL_PARAMS", but I added a test nonetheless. That's one more test :)

[2017-10-20 18:05] DavidRaymond commented on #247
Great - sorry I missed the custom bool params when I looked at the fix.

[2017-10-21 04:30] themaddoctor commented on #245
Also found this today:
[code]

[2017-10-21 05:19] moyogo commented on #245
@themaddoctor That is normal for fonttools.

[2017-10-21 19:57] #246 closed

[2017-10-21 19:57] #248 closed

[2017-10-22 05:04] themaddoctor commented on #245
The comments about OTF sources doesn't make any sense. There are no such files in the sources.

[2017-10-22 08:50] moyogo commented on #245
@themaddoctor The gNoto* files were generated from OTF sources which are not in the repository.

[2017-10-23 14:56] #247 closed

[2017-10-23 15:02] anthrotype opened #252 "changelog for release 2.0"
I usually write a brief changelog for each new releases inside the git annotated tag message. This time the changes since 1.8.0 are many, because we merged the `classtree` branch and refactored most of the modules. And I was only indirectly involved in this, so it's a bit difficult for me to summarize the changes.

Could @moyogo or @belluzj help me write down the most notable changes? I'm not talk

[2017-10-23 15:10] belluzj commented on #252
* The lib now supports `.glyphs` -> Python objects -> `.glyphs` round-trip for Glyphs files that were produced with Glyphs >= 2.5b 1076. If some Glyphs data doesn't round-trip, it's a bug. Also, if you edit the Python objects (= instances of `GS*` classes) before writing to `.glyphs`, the diff between the original Glyphs file and the modified one should be minimal and reflect only the changes that

[2017-10-23 15:14] belluzj opened #253 "Handle & unit test all custom parameters"
There are four lists of parameters to go through:
* those supported by Glyphs (e.g. listed in the Glyphs handbook): https://glyphsapp.com/downloads/handbook/Glyphs-Handbook-2.3.pdf
* those defined in UFO: http://unifiedfontobject.org/versions/ufo3/
* those that are understood by `ufo2ft`: https://github.com/googlei18n/ufo2ft
* those that are understood by `fontmake`: https://github.com/googlei18n/

[2017-10-23 15:16] moyogo commented on #252
That’s a nice to summarize it :-)

[2017-10-25 16:18] belluzj opened #255 "Do something about outside open corners"
When should they be removed?
* keep them in UFO and add an option in ufo2ft to remove them
* remove in UFO (but keep the original path somewhere to round-trip back)

Related:
https://forum.glyphsapp.com/t/how-to-detect-an-outside-open-corner/4117

[2017-10-25 17:05] jenskutilek opened #256 "Custom parameter "Link Metrics With Master" support is not complete"
Presence of "Link Metrics With Master" or "Link Metrics With First Master" means that the masters that have set this custom parameter must also inherit the kerning from the referenced master.

At the moment, using this parameter results in the dependent UFOs/fonts having no kerning at all.

[2017-10-25 17:14] anthrotype commented on #256
Support for that is non-existent rather than incomplete. I didn't know it existed before. Thanks anyway :)

[2017-10-25 19:55] moyogo commented on #253
@schriftgestalt Can you share the list of customParameters you mentioned in https://forum.glyphsapp.com/t/old-style-kern-table-export/3322/9 ?

Which customParameters are meaningful to have multiple times?

Here are the customParameters I was able to add through the list in the UI in 2.5b (1077):

Custom Parameter | Object(s) | Type(s)
-- | -- | --
ascender | master | unicode
Autohint | instance |

[2017-10-26 08:27] schriftgestalt commented on #255
To decide if the overlap is visible or not, it uses the percentage of the parts of the two segments that are "outside" (both segments are at least 50% inside or one of the two is at least 70% inside).

[2017-10-26 10:09] anthrotype commented on #255
Thanks Georg, that's helpful.

[2017-10-26 12:30] moyogo commented on #255
Since these are Glyphs only at the moment we can remove them with converting to UFO but it would be useful to add the functionality to UFO for roundtripping.

Say we store the original outline in the lib with a glyphsLib key and restore it on roundtrip if it's still valid, do not it if it isn't any more. Either by hashing it, or recalculating and comparing it.

We might want to unify this with how

[2017-10-27 09:29] anthrotype opened #257 "glyphsLib.affine module vs fontTools.misc.transform?"
Back in June, as part of the huge classtree branch, @yanone added this "affine" module, for affine transformation matrices:
https://github.com/googlei18n/glyphsLib/blob/master/Lib/glyphsLib/affine/__init__.py

At the top it says the module is "derived from Casey Duncan's Planar package".

This looks to me similar in scope and intent to the `fontTools.misc.transform` module:
https://github.com/font

[2017-10-27 09:42] belluzj commented on #257
When I was writing tests, I noticed that the matrix computation did not look very precise (but I did not investigate further): https://github.com/googlei18n/glyphsLib/blob/master/tests/writer_test.py#L825-L855

[2017-10-27 11:38] schriftgestalt opened #258 "In Glyphs.app, rotation is in degrees"
https://github.com/googlei18n/glyphsLib/blob/a618435d09946b214e4491b0868891c6894b1cf8/tests/writer_test.py#L829

[2017-10-27 11:46] belluzj commented on #258
Thanks for the heads up, I think that it's just my test that is wrong, not the actual code that handles the rotation :)

[2017-10-27 12:04] #258 closed

[2017-10-30 11:38] anthrotype commented on #214
In ufo2ft, to distinguish between what Glyphs.app calls `PreFilter` and (post) `Filter`, I added a boolean element `pre` to the filter structure, `true` means is a `PreFilter` (ie. should by applied before decomposition of composite glyphs), `false` or missing, it's a regular `Filter` to be applied after composite glyph decomposition:

https://github.com/googlei18n/ufo2ft/blob/abcd854910351b5a490e

[2017-10-30 11:58] belluzj commented on #214
OK, noted

[2017-10-30 12:10] #214 closed

[2017-10-30 12:12] anthrotype commented on #252
are we ready to release 2.0?

[2017-10-30 15:10] DavidRaymond opened #263 "'module' object has no attribute 'glyphdata' using to_ufos()"
I'm getting the following error:
[code]
This is with the latest download of glyphsLib.

[2017-10-30 15:12] belluzj commented on #263
I'll look at it

[2017-10-30 15:13] anthrotype commented on #263
just in time, thanks

[2017-10-30 16:09] #263 closed

[2017-10-31 08:44] schriftgestalt commented on #214
The pre filter is called before removing overlap, the normal filter after.

[2017-10-31 09:11] anthrotype commented on #214
Wait... the Glyphs handbook describes "PreFilter" as "Same as Filter, but applied before _decomposition_", and also elsewhere "If you want to apply filters before decomposition, use these values with the PreFilter property".
At least I understand "decomposition" as decomposition of composite glyphs.

It's important that there is a way to apply a filter before the decomposition of composite glyphs

[2017-10-31 10:38] anthrotype commented on #214
and elsewhere in the handbook, it says "Filter" are triggered

[2017-10-31 10:41] schriftgestalt commented on #214
Then this need to be fixed.

[2017-10-31 10:51] anthrotype commented on #214
Then please explain how this is supposed to work. I've been working with these assumption in mind for the past few weeks to add support for export-time custom filters in ufo2ft.

[2017-10-31 12:07] khaledhosny opened #265 "ValueError: invalid literal for int() with base 16: '0394,2206'"
Trying to build [Roboto-Arabic](https://github.com/Gue3bara/Roboto-Arabic) with fontmake gives me the following error:
[code]

Apparently caused by one of the glyphs having `unicode = "0394,2206";` and it seems glyphsLib does not like that.

[2017-10-31 12:08] belluzj commented on #265
https://github.com/googlei18n/glyphsLib/issues/216

[2017-10-31 12:10] belluzj commented on #216
@anthrotype Should this be fixed for the new release?

[2017-10-31 12:15] anthrotype commented on #216
I don't have any rush releasing 2.0, I first want to figure out #214.
So if @belluzj would like to work on this one, please do thanks!

[2017-10-31 12:34] #265 closed

[2017-10-31 22:24] schriftgestalt commented on #214
I hade another look at the code. The handbook is not wrong after all. But also not complete. `PreFilter` is applied before decomposition and remove overlap. Then follow the `Filter`.

[2017-10-31 22:25] anthrotype commented on #214
Yes, exactly as I thought! Thanks for confirming that :)

[2017-11-02 14:39] DavidRaymond opened #266 "UFOFormat field should not be in lib.plist"
UFOFormat is not a valid lib.plist key.

Although in the userData section of the .glyphs file, it is not in the UFOlib within userData, and that is where lib.list fields are stored.

I don't think there is any need to transfer the value of that UFOFormat to anywhere within the UFO.

[2017-11-02 20:54] schriftgestalt commented on #266
This value is stored in the .glyphs file to know that the data comes from and .ufo of that format and to save it back in that format.

[2017-11-02 21:22] anthrotype commented on #266
Technically there aren’t “invalid lib.plist keys” provided they are prefixed with some reverse domain notation. But I see the point that it may be redundant. GlyphsLib currently always exports to UFO3, although defcon could export to UFO2 as well.

[2017-11-02 21:26] DavidRaymond commented on #266
Agreed it could be made valid by adding a prefix, but it is redundant within the UFO.  The value held within the .glyphs file could be used if, in the future,  support for UFO2 export was added to glyphsLib.

[2017-11-02 21:28] schriftgestalt commented on #266
I might be good to store it some where for round tripping reasons. But that might not be important.

[2017-11-02 21:29] anthrotype commented on #266
who is exporting that key, glyphsLib or Glyphs.app?

[2017-11-02 21:32] DavidRaymond commented on #266
In my tests I'm only using glyphsLib, so that must be taking it from the .glyphs file and writing it to the UFO.

[2017-11-02 21:39] anthrotype commented on #266
Looks to me related to https://github.com/googlei18n/glyphsLib/issues/230

[2017-11-02 22:07] schriftgestalt commented on #230
This should be fixed now

[2017-11-03 20:26] schriftgestalt opened #267 "Very small change of the file structure"
I’m right now working to improve the font master UI. (to make it easier to set up variable fonts). That lead to a small simplification of the master properties. There are two new properties `name` and `iconName` the later can be ignored but the name will supersede the `weight`, `width` and `custom` entries. Those will still be there (for now) to not break compatibility with older versions. But if

[2017-11-04 08:57] anthrotype opened #268 "xHeight as string custom parameter crashes defcon"
Some Noto fonts have a xHeight custom parameter (is that even supported by Glyphs.app itself?).
This used to be cast by glyphsLib to int before setting it in the UFO with defcon.
Now it’s left as a string to match Glyphs.app behaviour when writing *.glyphs file’s.

https://github.com/googlei18n/glyphsLib/pull/227#issuecomment-336103359

But defcon expects an int and chokes with ValueError otherwis

[2017-11-04 11:18] moyogo commented on #268
GlyphsApp doesn’t seem to use the xHeight instance customParameter.
When I generate NotoSansArabic-Regular.otf, the OS/2.sxHeight is 374, the same a the master’s xHeight while the xHeight instance customParameter is 536.

[2017-11-04 12:10] anthrotype commented on #268
Thanks for checking.
I wonder why MTI added that custom parameter if it's not applied by Glyphs.app...
So what shall we do?
cast to int and apply the xHeight custom parameter in glyphsLib, even though Glyphs.app itself does not?
Or keep that parameter in the lib under com.schrift... but without setting it inthe UFO.info?

[2017-11-06 10:26] anthrotype commented on #267
thanks for the heads up! Has this change of yours already been pushed out to the beta update channel?

[2017-11-06 10:40] moyogo commented on #268
@schriftgestalt This seems to be a bug in 2.5b. The GSFontmaster already has a master.xHeight attribute, it doesn’t make sense to have a master.customParameters["xHeight"]. But being able to overwrite the interpolated one with instance.customParameters["xHeight"] may make sense.

[2017-11-06 11:01] anthrotype opened #269 "differences in master UFOs between 1.8 and master"
some lib element that previously we didn't write if their value was the same as the default value, are now always being written. I believe they are redundant, only add noise and make serializing/deserializing slower. This is the ones I found but there may be more depending on the source font you check:
- com.schriftgestaltung.Glyphs.Export (default is true)
- com.schriftgestaltung.componentsAlignm

[2017-11-06 14:40] #268 closed

[2017-11-06 15:25] anthrotype commented on #269
hm... also all the "com.schriftgestaltung.Glyphs.leftMetricsKey" and "com.schriftgestaltung.Glyphs.rightMetricsKey" seem to be gone when exporting UFOs with latest git master. They are exported correctly with stable 1.8.0.

[2017-11-06 15:41] anthrotype commented on #269
ok I found where the bug is, fix is coming

[2017-11-06 15:52] anthrotype commented on #269
anybody knows why for GSGlyph.{left,right,width}MetricsKey the default is None, whereas for the GSLayer is an empty unicode str `''`?

[2017-11-06 15:54] anthrotype commented on #269
I think it would be better to align the two classes' `_defaultsForName`.
I can't try on a mac right now to check if the Glyphs.app python API also has different default values for those metrics keys between GSGlyph and GSLayer.
I would make it None for both rather than emtpy string.

[2017-11-06 15:55] moyogo commented on #269
That’s a bug, they should default to None in GSLayer as well.

[2017-11-06 15:55] anthrotype commented on #269
ok, thanks. I'll fix that too

[2017-11-06 16:11] anthrotype commented on #269
I noticed that the "alignment" attribute for a GSComponent._classesForName is an `int`, whereas in GSGuideLine it is a `str`... why?

[2017-11-06 16:20] anthrotype commented on #269
also, previously we were testing if a component had a `disableAlignment` attribute set to True:
https://github.com/googlei18n/glyphsLib/blob/162dc115719d2b0eeeaa3c7ad0576a266d022984/Lib/glyphsLib/builder.py#L786

whereas now we are testing if a component has a `alignment` attribute:
https://github.com/googlei18n/glyphsLib/blob/f3d35ca7cc59fbd2de39255d1a2beb020e432d12/Lib/glyphsLib/builder/glyph.py

[2017-11-06 16:23] anthrotype commented on #269
Oh, I already asked the same question :)
https://github.com/googlei18n/glyphsLib/issues/144#issuecomment-284993255

[2017-11-06 16:59] anthrotype opened #272 "why is GSGuideLine.alignment class type a str?"
https://github.com/googlei18n/glyphsLib/blame/f3d35ca7cc59fbd2de39255d1a2beb020e432d12/Lib/glyphsLib/classes.py#L1116

/cc @moyogo

[2017-11-06 21:08] schriftgestalt commented on #272
behause it is written as `right` or `center`. (the default is `left` and that is not written).

[2017-11-06 21:08] anthrotype commented on #272
I see. Thanks!

[2017-11-06 21:08] #272 closed

[2017-11-06 21:12] schriftgestalt commented on #269
[code]
gives:
[code]

[2017-11-06 21:16] schriftgestalt commented on #269
That was changed in the Glyphs API and the file format two years ago.

[2017-11-06 21:18] punchcutter commented on #223
@anthrotype How categories are set isn't the issue at all. This issue is all about the fact that Glyphs creates both a dist and a kern feature, but glyphsLib does not which means running Indic scripts through glyphsLib produces incorrect fonts. They only get kern which is bad. Simply put, we can't deliver some Noto files because this kern/dist creation is broken (i.e. not implemented at all) in gl

[2017-11-06 21:22] anthrotype commented on #223
Ok. We shall try to prioritize this then.

[2017-11-06 21:26] schriftgestalt commented on #268
Yes. I have a look.

I found why there might be a "xHeight" parameter in the master parameters. It is indeed in the list. But meant for a "local" value like `arabic:123`. That allows different vertical metrics per script. But is only used for displaying the metrics lines in the UI.

[2017-11-06 21:26] schriftgestalt commented on #267
This should be in 1082.

[2017-11-06 23:38] moyogo commented on #268
Ok, that explains the duplicated ascender and descender for the masters. It would be less confusing with a different name.

[2017-11-07 10:36] anthrotype commented on #269
are we happy with all the integers in the glyphs file becoming float when exporting to UFOs?
I haven't checked yet where this conversion is taking place. I guess it occurs while loading the GS* classes as those attributes have type float.
I think before with the casting module, there used to be a generic number type that would read either, and would write to the most compact repr.
Not sure what th

[2017-11-07 13:45] m4rc1e opened #275 "Parsing Glyphs V1 files"
Whilst trying to load, https://github.com/googlefonts/TangerineFont/blob/master/sources/Tangerine_Bold.glyphs We get the following traceback

[code]

I'm guessing the format changed in Glyphs V2?

Could we not throw a better exception for this e.g `GlyphsLib can only load Glyphs V2 files`

[2017-11-07 13:49] behdad commented on #275
This is in the optional XML format instead of the ASCII-plist-like one it seems? Shouldn't be hard to implement.

[2017-11-07 13:54] anthrotype commented on #275
I would have been simpler in the previous parser implementation where the parser was generic and didn’t know about the GS classes.
Anyway yeah it’s doable but not high priority. You can resave the file with Glyphs 2.

[2017-11-07 13:55] anthrotype commented on #275
(Because we could have just used plistlib in place of our own ascii-plist parser)

[2017-11-07 14:16] behdad commented on #275
Well, yeah, that's why originally the parser was completely separate from the casting information...

[2017-11-07 14:19] behdad commented on #275
Looks like the parser is still independent, no?

[2017-11-07 14:28] anthrotype commented on #275
it's a hybrid. It can still parse into a normal OrderedDict without casting the strings; but if given a GSFont (which is the default) it parses and populate objects from classes module directly

[2017-11-07 18:08] schriftgestalt opened #278 "Refactor ufo builder"
I just had a look at the `to_ufo` code. That is some nice spaghetti code ;)

It could be much nicer if it would be put into the classes. So that you could ask the masters and/or the instances for an ufo object. That would avoid several of the TODOs in that code path as one could pick what he needs.

I added a branch that starts with this. It is very easy and dirty but on some places it shows that

[2017-11-07 22:34] belluzj commented on #278
The method is attached to UFOBuilder with an import in `builder/builders.py`. By the way, that file may already be going in the direction that you suggest, please give feedback about it and also maybe check the WIP UFO round-trip PR to take its developments into account in your reflexion

[2017-11-08 10:23] schriftgestalt opened #279 "calculation of axes"
I just tried to export some of my fonts as variable fonts using fontmake.

At least partially, it tries to determine the axes by looking at the instances. It prints this: `INFO:fontTools.varLib:Axes: ...` that contains numbers from the instances. And if those are not siting at the master location, it gives an error later on:
`assert base_idx is not None, "Base master not found; no master at defaul

[2017-11-08 10:26] schriftgestalt opened #280 "Use `Axes` property"
There is a custom parameter `Axes`. It contains axis names and tags. It is required for variable font export and does limit the available coordinate fields in the master and instance settings.

[2017-11-08 10:27] schriftgestalt opened #281 "Skip empty Axes"
If the calculated mapping for an axis has a length of zero (e.g. `'map': {0.0: 0.0},` or 'map': {72.0: 72.0},) scrip the axis.

[2017-11-08 10:44] anthrotype commented on #281
duplicate of https://github.com/googlei18n/glyphsLib/issues/178

[2017-11-08 10:44] #281 closed

[2017-11-08 10:46] anthrotype commented on #279
duplicate of #280

[2017-11-08 10:46] anthrotype commented on #280
any documentation available yet?

[2017-11-08 10:48] anthrotype commented on #170
let's continue tracking this on #280

[2017-11-08 10:48] #170 closed

[2017-11-08 10:51] anthrotype commented on #280
@schriftgestalt in #279 you also mentioned a "Virtual Master". What's that? You may have already explained this to me in Montreal but I forgot :grimacing:

[2017-11-08 10:51] schriftgestalt commented on #280
the format of the Axes parameter:
[code]

[2017-11-08 10:53] schriftgestalt commented on #279
It is not a duplicate. This issue is about the calculation of the axis ranges. The #280 is about what axes you need and their names.

[2017-11-08 10:54] anthrotype commented on #280
and the axis location for each master?

[2017-11-08 10:56] anthrotype commented on #279
well, I thought they are connected

[2017-11-08 10:56] schriftgestalt commented on #279
Virtuel masters are there to open the axis range if there is no real master to do so. That is used with brace layers. That way you can implement ascender/descender axes without the need to duplicate the whole font.
[code]

[2017-11-08 10:58] schriftgestalt commented on #280
That is defined in the masters settings. They have coordinates for each axis.

[2017-11-08 10:59] m4rc1e commented on #280
As far as I am aware, this only happens in Glyphs

![screen shot 2017-11-08 at 10 55 45](https://user-images.githubusercontent.com/7525512/32545361-655eed14-c473-11e7-8b38-c99b25c28949.png)

In Fontmake, it will automatically gen axises if non are specified. I love this because I am dealing with many families which do not contain an axis property. Could Fontmake and its supporting libs such as thi

[2017-11-08 11:03] schriftgestalt commented on #280
Keeping the old mechanism as a fallback might be a good idea. But optimise it to omit "empty" axes.

[2017-11-08 11:05] anthrotype commented on #280
@m4rc1e I think we will keep that even as we add support for the new parameters.

@schriftgestalt I mean, the user-space locations for registered axes that have predefined rangee like weight (1-1000) or width (percentage). We are currently getting these from the instances to generate the axes map elements in the designspace (used to build avar table) because in the old Glyphs.app masters only had

[2017-11-08 11:10] schriftgestalt commented on #280
There is master parameter for that:
[code]
You can’t remap Virtual masters. But those are most likely used for non standard axes that don't have a predefined range so it is fine using the internal numbers. (I think of something if someone presents a valid use case).

[2017-11-08 11:11] anthrotype commented on #280
Excellent! Thanks again for the clarification.

[2017-11-09 13:01] belluzj commented on #157
It should be possible now, if you use the `glyphsLib.builder.to_ufos` directly and give your own `defcon`-like python module as the argument `ufo_module`. The builder will instantiate the `Font` class (and other classes if needed) from that module. Does that solve the issue?

https://github.com/googlei18n/glyphsLib/blob/master/Lib/glyphsLib/builder/__init__.py#L25-L26

[2017-11-09 13:07] #252 closed

[2017-11-09 13:08] belluzj commented on #253
Note: have a look there: Glyphs.app/Contents/Frameworks/GlyphsCore.framework/Versions/A/

[2017-11-09 18:21] anthrotype commented on #157
/cc @adrientetar

kind of. The problem is here we are expecting other clients to name their defcon subclasses with the same name as the original defcon module.
Which I don't think it's the case for TruFont, where all the defcon's subclasses are prefixed with "T" if I remember well.
But maybe that could be changed in TruFont, I don't think the latter was ever used as a library and its implementatio

[2017-11-09 18:24] anthrotype commented on #157
An alternative to passing a module instance as a parameter, could be passing a mapping of UFO class names to specific classes... Or maybe even simpler, the caller could make a SimpleNamespace, set attributes on that with the names of the original defcon classes that glyphsLib expects, and pass that object as the "defcon" module. We would just getattr from it and boom it would work.
The problem is

[2017-11-09 18:24] adrientetar commented on #157
I could rename the classes but it would probably be confusing... could we use duck typing here? e.g. allow to pass both a module and a dict somehow since a module is essentially a dict. Then you could either give a module or a dict of {"Font": MyFont, ...} etc.

[2017-11-09 18:25] anthrotype commented on #157
instead of a dict, you could pass an objects with attributes (that looks like a module), i.e. SimpleNamespace

[2017-11-09 18:26] adrientetar commented on #157
Btw with defcon you only need the Font class becaus then you can do font.instantiateGlyph etc. and class names cascade through the object hierarchy but obviously that's not a universal API.

[2017-11-09 18:28] adrientetar commented on #157
Yes that would work. The argument could be renamed to ufo_namespace I guess.

[2017-11-09 20:29] schriftgestalt commented on #253
Yes. There are four files in `Glyphs.app/Contents/Frameworks/GlyphsCore.framework/Versions/A/Resources/`

- customParameterTypes.plist: contains all available keys with there type
- customFontParameters.plist: all keys that are relevant in the font
- customMasterParameters.plist: for masters
and you guessed it:
- customInstanceParameters.plist for the instances.

[2017-11-09 21:19] behdad commented on #157
Or just a degenerate object instance that has .Font, .Glyph, etc set to the actual classes?  I think the current code is alright.

[2017-11-09 21:20] behdad commented on #157
Err, right, that's SimpleNamespace indeed.  So, no need to getattr, right?

[2017-11-09 22:07] anthrotype commented on #157
no need to getattr.

[2017-11-11 21:49] madig opened #282 "glyphsLib fails to build UFOs from specific .glyphs file"
1. Get https://raw.githubusercontent.com/madig/cantarell-fonts/f17124d041e6ee370a9fcddcc084aa6cbf3d5500/src/Cantarell.glyphs
2. `fontmake -g Cantarell.glyphs -o otf`
[code]

The same happens with
[code]

[2017-11-12 08:59] moyogo commented on #282
verticallineabovecomb has some phantom layers.

[2017-11-12 11:14] madig commented on #282
Ah! I copied that glyph from a different font; I see it, too, now. I guess testing for phantom layers in the offended method and printing a warning will do the job? Will have a closer look.

[2017-11-13 13:00] moyogo commented on #253
@schriftgestalt Can we reuse the files here? Would you mind doing something like GlyphsData.xml that can be publicly shared?

[2017-11-13 14:51] MrBrezina commented on #282
I had the same problem. It is because I copied some glyphs from another font with more masters and the extra layers got preserved. It is not just layers without names, but also others which should not be there.

This Glyphs.app script helps to clean things up.
(Run it multiple times. That’s because I am lazy to figure out how to delete all phantom layer systematically in one run.)

[code]

[2017-11-13 21:09] madig commented on #282
@anthrotype I'm thinking about checking for phantom layers somewhere in UFOBuilder, maybe ::masters() and just log a warning and skip them, since it's ufoLib that chokes. Glyphs seems to just ignore them. I'll send a pull request. Tell me if this should be handled differently.

[2017-11-13 21:31] anthrotype commented on #282
Sounds good, thanks

[2017-11-13 21:32] anthrotype commented on #282
Drop and warn is ok by me

[2017-11-13 21:41] schriftgestalt commented on #282
GlyphsLib should only care about layers that have ‘layerIDs’ that are also a ‘Master.id’. Only if you plan to support brace and bracket layers, you need to look in the other layers, too.
And always check for associatedMasterID.

[2017-11-13 21:57] madig commented on #282
@schriftgestalt  Do you see (associated) layers that do not point to an existing master ID as data corruption? See https://forum.glyphsapp.com/t/glyphs-should-clean-up-or-prune-phantom-layers-when-copying-glyphs-from-other-fonts/7576/1

I assume associated layers are these non-bold layers in Glyphs associated with the master layer.

[2017-11-14 12:21] anthrotype commented on #223
@schriftgestalt we will need to add support for that in our pipeline to match Glyphs.app output.
Would you like to share how Glyphs.app generates those?

[2017-11-23 18:02] schriftgestalt commented on #223
The code to create mark and abvm/blwm is very similar.
First split all glyphs by Indic script and all other. For the first group, put all anchors with a name in (‘top’, ‘topleft’, ‘topright’, ‘candra’, ‘bindu’, ‘candrabindu’) into abvm and all (‘bottom’, ‘nukta’, ‘bottomleft’, ‘bottomright’) in blwm. All others are checked if they are in the top or bottom part of he letter.

[2017-11-24 09:37] anthrotype commented on #223
@schriftgestalt thanks for the info. Could also you give us the list of "Indic" scripts that Glyphs.app considers for inclusion in this dist/abvm/blwm auto-generated features?

[2017-11-27 13:12] anthrotype commented on #267
@belluzj can we close this or are there still things left to do from the things Georg mentioned above?

[2017-11-27 14:56] belluzj commented on #267
I'm not sure about the last part:

I will check that the generated UFOs are named with the master's names when relevant.

[2017-12-02 16:02] anthrotype commented on #282
should be fixed by #291

[2017-12-02 16:02] #282 closed

[2017-12-06 19:00] anthrotype opened #295 "difference between "Keep Glyphs" vs "Export Glyphs" custom params?"
fontmake currently uses a combination of "com.schriftgestaltung.Glyphs.Export" (bool, inside the GLIF lib) and "com.schriftgestaltung.Keep Glyphs" (list of strings, in the global UFO lib) in order to determine the list of final glyphs to keep in the generated font (currently using the fonttools subsetter after the fact, but I'd like to change this, anyway that's another issue..).

https://github.c

[2017-12-06 19:04] anthrotype commented on #295
is the key difference that "regardless of whether the glyph was set to export or not"? because by just reading the description of "Keep Glyphs" it's definitely not clear the connection with the glyph "export" flag...

[2017-12-06 19:06] anthrotype commented on #295
and do we need to support that "Export Glyphs" somehow?

(I wonder why one needs _three_ ways to specify a font's subset)

[2017-12-06 19:27] schriftgestalt commented on #295
The .exports key is ignored when the glyph is mentioned in a ‘Keep Glyphs’ parameter.

[2017-12-06 19:43] anthrotype commented on #295
wait.. you actually mean the .exports key is ignored when the glyph is mentioned in _Export Glyphs_?
that's what I understand from "regardless of whether the glyph was set to export or not"... :confused:

[2017-12-06 22:12] schriftgestalt commented on #295
I just had another look. There are two different parameters.

- Keep Glyphs: only glyphs mentioned are exported. All other are not.
- Export Glyphs: the glyphs in this list will be set to export. No influence on the other glyphs

[2017-12-06 23:56] schriftgestalt commented on #295
I think you are doing it right. The `Keep Glyphs` parameter is optional, and if not there, the export setting per glyph is respected.

There is one more parameter in that group: `Remove Glyphs`. That is doing the opposite of `Export Glyphs` by disabling the .export setting of the mentioned glyphs.

[2017-12-07 11:07] anthrotype commented on #295
No, this is what fontmake is doing: it first checks if the keep_glyphs list is not empty; then it checks if the glyph name is present in there; if not, it skips the glyph and continues the loop; (so far so good). However, if the keep_glyphs list is either missing or is empty, or it is non-empty and the glyph name is contained in there, fontmake goes on checking the individual glyph exports flag: i

[2017-12-07 11:12] schriftgestalt commented on #295
I do is

[2017-12-09 03:30] punchcutter commented on #116
@anthrotype This can be closed now, right?

[2017-12-09 12:51] #116 closed

[2017-12-15 19:00] punchcutter opened #300 "build_style_name no longer strips Regular off of Condensed"
fontmake now fails with MTI sources because `glyphsLib/builder/names/build_style_name()` no longer strips "Regular" from names like "NotoSansKhmer-Condensed". Now that gets written out to UFO as "NotoSansKhmer-CondensedRegular" and that key doesn't exist in the MTI plist.

The old way for `build_style_name` was
[code]
but the new way doesn't remove "Regular":
[code]
Is there a reason to keep Regul

[2017-12-15 20:17] anthrotype commented on #300
Looks like a regression. @belluzj could you pls take a look?

[2017-12-15 21:48] punchcutter commented on #300
The change was introduced with https://github.com/googlei18n/glyphsLib/commit/ce3d4e96fb56882705bcb1b876414c89fae8e644

[2017-12-18 12:52] anthrotype commented on #300
hmm, that's strange. We explicitly have a test for that:
https://github.com/googlei18n/glyphsLib/blob/901507ebaad5e0e46e6eddb3d9bce3ce42342206/tests/builder_test.py#L70

I'll try to build NotoSans-Khmer with latest versions of the toolchain and report back here

[2017-12-18 13:18] anthrotype commented on #300
it turns out, the problem isn't in the `build_style_name` itself, but in the caller `to_ufo_names` that is passing "Regular" as the weight. Whereas for the width argument, the "Regular" value is special-cased, it wasn't the case for the weight.

Still not clear to me when this regression was introduced. Anyway, the fix is trivial and is coming soon

[2017-12-18 13:30] #300 closed

[2017-12-20 18:47] marekjez86 commented on #91
@anthrotype : Cosimo what's the plan for smart components?

[2017-12-20 18:55] anthrotype commented on #91
It's on my to-do list. It would great if somebody with greater familiarity with Glyphs.app than me could help figuring out the exact algorithm that Glyphs.app uses to make such "smart components". That is: figure out what are the pieces of data involved in this, where they are stored in the *.glyphs source, what each does etc., and describe how to go from X to Y. In plain English, not in code (the

[2017-12-20 19:39] punchcutter commented on #91
My simple explanation to people has been that basically every smart component has its own designspace with masters and axes. And "instances" are wherever the components are used so instead of interpolating each glyph in a font we need to interpolate components in each glyph. In theory it doesn't sound so bad to me because we are already doing this for font masters --> font instances. Now it just n

[2017-12-20 20:13] schriftgestalt commented on #91
For most smart components it will work just fine when you use Mutator math to do the interpolation. But there are a lot problems. Because oaf those we needed to adapt the master interpolation algorithm to be fast and capable enough to work for smart components, too.
The new algorithm handles intermediate master much better so that is possible now, too.

[2017-12-21 12:03] belluzj commented on #91
@anthrotype If that can help you, I can write a unit test with a smart component that is a rectangle parameterized with width/height, and a few instances that are easy to assert by comparing the coordinates of the four corners of the component.

I think I will have to write such a test anyway for the roundtrip so I can do it now if that's helpful.

[2017-12-21 13:18] anthrotype commented on #91
that would be great, thanks guys!

[2017-12-22 16:50] belluzj commented on #91
@anthrotype Here is a test: https://github.com/belluzj/glyphsLib/commit/9c03863f5d1d20ab2c8975393d90fd8233c73dc6

Here is the Glyphs file that the test builds, you can open it in Glyphs and play with the sliders to see how it interpolates: https://gist.github.com/belluzj/b0ecf98ff6eb8ed220365ad92c7b5bd5

![screen shot 2017-12-22 at 16 48 49](https://user-images.githubusercontent.com/3616772/343058

[2018-01-16 17:26] anthrotype opened #308 "support "script" property in GlyphData.xml and in *.glyphs file"
Entries in the GlyphData.xml have a script property assigned (latin, arabic, etc.). Our generate_glyphdata.py currently does not load this piece of data. We only parse unicode, production names, category and subCategory.

The .glyphs file format also supports storing this info as an attribute of a GSGlyph element.
The [GlyphsFileFormat.md](https://github.com/schriftgestalt/GlyphsSDK/blob/master/Gl

[2018-01-16 17:31] anthrotype commented on #308
Note that `fontTools.unicodedata` already supports looking up the Unicode script property for a unicode character; however having this explicitly set in the glyph properties would be useful for glyphs without a unicode codepoint, and whose name doesn't follow AGL and thus cannot be easily linked back to another glyph that has a unicode codepoint.

[2018-01-16 17:37] anthrotype commented on #308
So our `glyphdata_generated.py` may skip this if it can be derived from a glyph's codepoint, like it does for category and subCategory, and only store the the deltas.

And when exporting script to UFO glif lib, we only do for those glyphs that don't have a unicode codepoint, or for those that do but the whose script property as assigned by either GlyphData.xml or by the glyphs source file (overrid

[2018-01-17 17:09] JelleBosmaMT commented on #205
The handbook is wrong, with regards to input in the UI. It is one entry per line. See https://forum.glyphsapp.com/t/re-encoding-with-custom-parameter/6023/7.

[2018-02-10 17:19] khaledhosny opened #313 "Anchor propagation for ligatures is broken somtimes"
Consider the font [JosefinSans.glyphs](https://github.com/ThomasJockin/JosefinSansFont-master/blob/master/sources/JosefinSans.glyphs); the glyph `f_ij` has two components `f` and `ij` and it ends up with the anchors `bottom`, `bottom_1`, `bottom_2`, `ogonek`, `top`, `top_1, and `top_2`, but the `top` and `bottom` anchors make no sense here AFAIK. Even worse, the glyph `f_f_ij` ends with different

[2018-02-10 17:29] behdad commented on #313
Actually the way OpenType is implemented in Uniscribe and HarfBuzz, if ij was itself a ligature of two components, the f_ij will get three components.

[2018-02-10 17:42] khaledhosny commented on #313
I stand corrected then.

[2018-03-08 17:54] mgavioli opened #317 "_propagate_glyph_anchors() in anchors.py should manage exception(s) from defcon"
First, many thanks for the great work with such an invaluable library!

Second, I know very little of Python, I do not have Glyphs (I do not even have an Apple computer, this is why I need glyphsLib!) and then I cannot diagnose the issue to any extent. I have installed glyphLib via `pip` and I have version 2.2.1, which is the latest released and seems correspond line for line to current master, at

[2018-03-16 13:05] anthrotype opened #319 "use `fileName` custom parameter for generated master UFOs?"
we read `fileName` custom parameter when generating _instance_ UFOs:
https://github.com/googlei18n/glyphsLib/pull/217

but for the _master_ UFOs we don't. We simply concatenate family and style names:

https://github.com/googlei18n/glyphsLib/blob/95e8b44d996dcf3f39df30e8ffd198848eeef333/Lib/glyphsLib/util.py#L23-L36

Can masters have a ~~`familyName`~~`fileName` custom parameter in Glyphs.app?

I

[2018-03-16 13:06] anthrotype commented on #319
EDIT: sorry, I meant `fileName`, not `familyName`

[2018-03-16 13:31] belluzj commented on #319
I don't know about such a parameter, and currently for round-tripping I'm storing this in the master's userData, but I would be happy to change to a custom parameter:

https://github.com/belluzj/glyphsLib/blob/e5730bc2696111b92f7efdbc149bcf2c7d32b4f7/Lib/glyphsLib/builder/sources.py#L48-L49

[2018-03-17 09:45] moyogo commented on #319
Since in Glyphs that custom parameter doesn't exist and doesn't make sense for masters, you should use Jany’s UFO_FILENAME_KEY. Unless Glyphs starts exporting UFOs+designspace and using `filename`for masters.

[2018-03-17 09:47] schriftgestalt commented on #319
I’m thinking about building a plugin that uses glyphsLib and friends to export designspace+ufo. That would be a very good test case for the API.

[2018-03-19 09:29] schriftgestalt opened #320 "glyph.export is not used when writing ufos"
When glyph.export is False, the glyph should not be written to the final font file.

And, if a component points to it, it this component needs to be decomposed.

[2018-03-19 10:20] belluzj commented on #320
I think the current strategy here in `glyphsLib` is to write all glyphs to UFO and write as well their "export" flag. The export flag is then used by `fontmake` to filter the glyphs in the built font:

https://github.com/googlei18n/fontmake/blob/master/Lib/fontmake/font_project.py#L301

Are you proposing that `glyphsLib` should directly remove the glyphs from the UFOs?

[2018-03-19 12:13] schriftgestalt commented on #320
I don’t really care who is doing it. Right now, nobody is taking care of it. And I have implemented in glyphsLib almost.

[2018-03-19 13:50] schriftgestalt commented on #320
I was using fontmake to generate a variable font from a .glyphs file. It failed because there are some glyphs that have incompatible outlines. Those are set to not export.

After only putting the right glyphs in the ufo, it still complains about the kerning classes as I have not yet fixed that. It is much easier to deal with the kerning classes in glyphsLib instead of cleaning it up in fontmake.

[2018-03-19 20:51] moyogo commented on #320
Aren't the glyphs that are not exported also muted in the designspace?

[2018-03-20 08:20] schriftgestalt opened #322 "updated GlyphData"
I have just updated the glyphData in https://github.com/schriftgestalt/GlyphsInfo

[2018-03-20 09:16] belluzj commented on #320
Cool! Did you run the one from the master branch or the one from the `real-ufo-roundtrip` pull request?

[2018-03-20 09:47] schriftgestalt commented on #320
I stuffed all my changes in this repo. I’ll make nice commits when I’m done. https://github.com/schriftgestalt/glyphsLib/tree/some-adjustments

[2018-03-20 10:08] schriftgestalt commented on #320
I see that is a `load_to_ufos` function. How would a `load_to_glyphs` look like that takes an path to a designspace file as argument?

[2018-03-20 10:20] belluzj commented on #320
It's in this PR: https://github.com/googlei18n/glyphsLib/pull/244

Have a look at the README from my branch which has examples of how to go from designspace to Glyphs: https://github.com/belluzj/glyphsLib/blob/real-ufo-roundtrip/README.rst#go-back-and-forth-between-ufos-and-glyphs

[2018-03-20 10:38] anthrotype commented on #320
Right. And fontmake is using the fonttools subsetter only _after_ ufo2ft has generated the full TTFs that also include the non-export glyphs. I know it sounds convoluted, but it allows us to rely on the subsetter to decompose the components whose base glyph was dropped, and subset the GSUB/GPOS table (without having to do that on the features.fea ourselves).

The conversion to quadratic is done in

[2018-03-20 10:39] belluzj commented on #320
@schriftgestalt  I have introduced three functions that I use extensively in test:

[code]

[2018-03-20 10:40] anthrotype commented on #320
As I'm gradually moving more and more of the functionalities from fontmake (the compiler CLI) to ufo2ft (the compiler library), I think this subsetting-by-export-flag step should also move to ufo2ft.postProcessor

[2018-03-20 20:46] schriftgestalt commented on #320
as long as someone takes care of it..

[2018-03-21 07:36] schriftgestalt opened #323 "Master names"
https://github.com/googlei18n/glyphsLib/blob/092d2fc095cc85c4a99595c9f4441222ecc4b105/Lib/glyphsLib/classes.py#L1326

You should not deal with that here. The `.name` property is all you need. the old `.weight`
 and `.width` properties are only written to the file for compatibility reasons.

[2018-03-21 08:41] belluzj commented on #323
OK, thanks for the comment. I thought that I had to match Glyphs' behaviour for two reasons:
1. when I tried this in Glyphs' UI, I think I remember that if I set a name that fits nicely into the weight/width, Glyphs will not write out the full name, only the weight/width, so glyphsLib will need to have some logic to piece back together a name from the weight/width anyway. Am I mistaken about that?

[2018-03-21 10:55] anthrotype commented on #216
@belluzj is this fixed in current master?

[2018-03-21 10:56] anthrotype commented on #279
@belluzj what about this one? Is it supported now in master?

[2018-03-21 10:57] anthrotype commented on #280
@belluzj what about this one? (sorry, I'm trying to close my tabs...)

[2018-03-21 11:01] moyogo commented on #216
@anthrotype yes, it is:
https://github.com/googlei18n/glyphsLib/blob/0a86327a93b3f324f200e35a23f639db4ae58280/Lib/glyphsLib/builder/glyph.py#L36
https://github.com/googlei18n/glyphsLib/blob/0a86327a93b3f324f200e35a23f639db4ae58280/Lib/glyphsLib/builder/glyph.py#L139-L140

[2018-03-21 11:02] belluzj commented on #279
I haven't done anything related to Virtual masters

[2018-03-21 11:02] anthrotype commented on #216
thanks!

[2018-03-21 11:02] #216 closed

[2018-03-21 11:05] belluzj commented on #216
It can even read the version without quotes like `unicode = 005A,007A;` because it turns out that Glyphs 2.4.4 writes it that way

[2018-03-21 11:11] belluzj commented on #280
I'm working on it in #324 :) I had started already in the roundtrip PR but I had understood a few things wrong, so I will try to get it right this time.

@schriftgestalt I have a few questions:
1. If I understand correctly, as soon as there is an "Axes" parameter, the GSFontMaster properties `weightValue`, `widthValue`, `customValue`, `customValue1` etc. will be used in this order to store design

[2018-03-21 11:48] schriftgestalt commented on #323
1) I had it that the name was always written out. That would have caused a lot of noice in everybody files. So I disabled it again.
2) the toolbar icon is not using the weight/width any more. That is an extra setting.

[2018-03-21 11:54] schriftgestalt commented on #280
Correct. Again, that what to keep the noise in the files low and keep it working in older versions.
A future version of Glyphs will clean that up (and the master names, too).

Instances don’t have a `Axis Location`. They have a weight/width class and the `Axis Location` for other axes could be interpolated from the masters?

[2018-03-21 12:04] belluzj commented on #280
OK that makes sense. To make sure I understand:
* the axis "mapping" (the function that goes from user locations to design locations) should be entirely encoded by the masters' (and virtual masters?)' design locations = `xxxValue` and user locations = "Axis Location" parameter
* instances only have a design location and their user location can be found by looking at the axis mapping backwards (usi

[2018-03-21 12:05] schriftgestalt commented on #280
Yes

[2018-03-21 12:19] belluzj commented on #280
Thanks a lot for the clarifications. I have two more questions about instance locations along the weight and width axes:

1. what if there's a conflict between the mapping that I get from the masters and the mapping that I get from the instances? Should one of those two mappings take precedence over the other?

Right now, glyphsLib infers the mapping for weight and width from the instances because

[2018-03-21 12:22] anthrotype commented on #280
I think that's reasonable. It would reduce the amount of breaks. We could emit a warning suggesting the user to update their sources.

[2018-03-21 18:57] schriftgestalt commented on #280
I have a method `font.axes` that looks for the custom parameter and returned it or, if there is none, it generated one. It checks if the masters are actually any different in each dimension...

[2018-03-22 12:16] anthrotype opened #325 "designspace output path should be configurable"
currently it's generated from the font's familyName and the "base" style (i.e. shared by all masters):

https://github.com/googlei18n/glyphsLib/blob/0a86327a93b3f324f200e35a23f639db4ae58280/Lib/glyphsLib/builder/builders.py#L204-L210

[2018-03-22 12:23] anthrotype commented on #325
this new `designspace_path` option (a full path, not just the basename relative to the masters directory) should trickle down from the `build_masters` function, to the `to_designspace` function and cached in the `UFOBuilder` constructor, to be set on the designspace object returned by the `UFOBuilder.designspace` getter.

[2018-03-22 13:07] belluzj commented on #325
Why do you want such an option? I think the final path in which you want to store the designspace is not relevant in the builder, because you can set it afterwards when you have the DesignspaceDocument instance, and do that only if you want to save to the disk.

What is your use-case?

[2018-03-22 13:08] anthrotype opened #326 "MTI features plist as custom parameter, exported to UFO data/"
fontmake has an `--mti-source` option to load Monotype feature files from a plist file containing a mapping of OpenType table tags (GSUB, GPOS, GDEF) to text files containing feature specifications in MTI feature file format.
http://monotype.github.io/OpenType_Table_Source/otl_source.html
When building the master UFOs from a glyphs source, if that command line option is provided, fontmake reads th

[2018-03-22 13:15] belluzj commented on #326
It's not exactly what you want, but in order to roundtrip UFO -> Glyphs -> UFO, I store all the contents of the data folder in base64 in the Glyphs file's userData, and restore the data files when going back to UFO.
If you were to put your MTI files in that same key as base64, they would be copied to the data folder.

https://github.com/googlei18n/glyphsLib/blob/0a86327a93b3f324f200e35a23f639db4ae

[2018-03-22 13:16] anthrotype commented on #326
I am not sure whether a Glyphs.app user can define one's own "private" custom parameters for one's own tools' consumption, not for the Glyphs.app core to use.
I don't think there is a reverse-domain prefix convention in place like there is for the UFO lib elements, to avoid that multiple users' private parameters overwrite each other.

Another problem with self-defined custom parameters is that on

[2018-03-22 13:18] anthrotype commented on #326
thanks jany, but I think it would be best to keep those files as external files, as they may be edited from an external editor I guess.
so you're basically suggesting that we use the userData with some private key to store the mapping of tags to features filenames.
Not ideal but maybe it's fine...

[2018-03-22 13:18] schriftgestalt commented on #326
I’m thinking on adding support for MTI sources somehow to Glyphs. As a similar case, if you add a featurePrefix with the name "morx" this will be used to compile AAT tables (of you have the apple font tools installed). Something similar could be done for MIT sources. I can’t compile those, yet, but that shouldn’t be to complicated.

The plist contains OT data for each instances, so I would put it

[2018-03-22 13:21] schriftgestalt commented on #326
I look into the possibility to store dicts in the custom custom parameters.

For now, we could defined three keys, like: `MIT-GDEF-filePath`, `MIT-GPOS-filePath` ...

[2018-03-22 13:21] anthrotype commented on #326
in the case of Noto, they refer to the masters actually, and the instance GPOS is interpolated with fonttools.varLib.interpolate_layout. But I guess that's an implementation detail.
I'd like to be able to decide whether to store these either in the masters or in the instances.